<ui-select jf-disable-ng-animate ng-model="jfUiSelect.jfSelectModel" on-select="jfUiSelect.onSelect($item,$model)" ng-disabled="jfUiSelect.jfSelectDisabled" remove-selected="false">
    <ui-select-match id="select-header" placeholder="{{ jfUiSelect.jfSelectPlaceholder }}" ng-click="jfUiSelect.onOpenList()">
        <jf-marquee>{{ jfUiSelect.displayLabel($select.selected) }}</jf-marquee>
    </ui-select-match>
    <ui-select-choices jf-disable-ng-animate
                       refresh-delay="100"
                       refresh="jfUiSelect.refresh($select.search)"
                       repeat="item in jfUiSelect[jfUiSelect.jfSelectOptionsView ? 'jfSelectOptionsView' : 'jfSelectOptions'] | filter: (!jfUiSelect.jfSelectFilterAttr ? $select.search : { [jfUiSelect.jfSelectFilterAttr || 'dummyfield']: $select.search}) track by $index">
        <div  ng-if="!jfUiSelect.jfSelectHelpTooltips"
              class="jf-ui-select-item"
              name="select-item"
              ng-class="{'more-ph': jfUiSelect.isMorePlaceholder(item)}"
              ng-click="jfUiSelect.onClick(item,$event)">
            <jf-marquee><inner-html ng-bind-html="jfUiSelect.displayLabel(item) | highlight: $select.search"></inner-html></inner-html></jf-marquee>
        </div>
        <div  ng-if="jfUiSelect.jfSelectHelpTooltips">
            <span class="jf-ui-select-item"
                  name="select-item"
                  ng-class="{'more-ph': jfUiSelect.isMorePlaceholder(item)}"
                  ng-click="jfUiSelect.onClick(item,$event)"
                  ng-bind-html="jfUiSelect.displayLabel(item) | highlight: $select.search"></span>
            <span ng-if="jfUiSelect.jfSelectHelpTooltips({$item: item})">
                <jf-help-tooltip text="{{jfUiSelect.jfSelectHelpTooltips({$item: item})}}"></jf-help-tooltip>
            </span>
        </div>
    </ui-select-choices>
</ui-select>
