.ui-select-container {
  span.ui-select-toggle:first-child,
  .jf-ui-select-item {
    font-weight: normal;
    color: inherit;
    outline: 0;
  }

  // Fix minor text glitch
  .text-muted {
    position: relative;
    top: -1px;
  }
}

//---ui select design---//
.ui-select-container {
  box-shadow: none !important;
  outline: none !important;

  .ui-select-match span.ui-select-toggle:first-child,
  input.ui-select-search {
    outline: none !important;
    padding: 0 14px;
    box-shadow: none !important;
    //transition: border-color 0.5s ease;
    border-radius: 0 !important;
    line-height: 40px;
    //background: white !important;
    .input-text;

    &:focus {
      border-color: @mediumGray;
    }
  }

  span.ui-select-toggle {
    overflow: hidden;
  }

  .text-muted {
    .jf-placeholder();
  }
}

.ui-select-choices {
  border: 1px solid @mediumGray;
  box-shadow: @shadow;

  .ui-select-choices-row {
    a {
      padding: 0 14px;
      color: inherit;
    }
    &:not(.disabled) > a{
      cursor: pointer;
    }
    & > a:hover {
      background: @lightgrey;
      color: inherit;
    }
    &.active > a {
      background: @lightgrey;
      font-weight: 600;
      color: inherit;
    }
  }
}


.ui-select-match-text {
  font-weight: normal;
  width: 92%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jf-ui-select-item.more-ph {
  font-weight: 800;
  font-size: 18px;
  font-style: italic !important;
}

//Work arround for ui-select bug #1652
.ui-select-choices.ui-select-dropdown:not(.ng-hide) {
  opacity: 1 !important;
}

//Work arround for ui-select bug #533
.ui-select-container input.ui-select-search {
  width: 100% !important;
}

.ui-select-bootstrap .ui-select-toggle {
  & > .caret {
    border: 0;
    height: auto;
    position: static;
    font-family: artifactory!important;
    //float: none !important;
    font-style: normal;
    margin-right: 14px;
    &:before {
      content: "\e974";
      font-size: 18px;
      &:hover {
        color: darken(@black, 10%);
      }
    }
  }
  &[disabled="disabled"] > .caret {
    color: @grayPlaceholderLight;
  }


  // TODO <Matan> - Clear Button
  //.btn {
  //  min-width: auto;
  //  padding: 0;
  //  line-height: 1em;
  //
  //  .glyphicon-remove:before {
  //    content: "\0000D7";
  //    font-size: 22px;
  //  }
  //}
}

jf-ui-select {
  .ui-select-bootstrap {
    .ui-select-choices-row.active,
    .ui-select-choices-row {
      &.disabled > a,
      &.disabled > a i:before,
      &.disabled > a:hover {
        background: @grayBGLighter!important;
        color:@grayFontLighter;
      }
    }
  }
}