.ui-select-match-text {
  font-weight: normal;
}
.jf-ui-select-item.more-ph {
  font-weight: 800;
  font-size: 18px;
  font-style: italic !important;
}


//Work arround for ui-select bug #1652
.ui-select-choices.ui-select-dropdown:not(.ng-hide) {
  opacity: 1 !important;
}



//Work arround for ui-select bug #533
.ui-select-container input.ui-select-search {
  width: 100% !important;
}

.ui-select-match {
  .btn, svg {
    color: @color-JFrog-light-gray;
    fill: @color-JFrog-light-gray;
    &:hover {
      color: @color-JFrog-dark-gray;
      fill: @color-JFrog-dark-gray;
    }
  }
}