
.summary-row {
  display: grid;
  // The default 4 fractions division is arbitrary and should be overwritten by code using this class
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @padding: 20px;
  @height: 120px;

  width: 100%;
  height: @height;
  padding: @padding @padding/2;
  &.jf-content-section {
    margin-bottom: 0;
  }
  .summery-labeled-item {
    /* IE10+ CSS styles */
    -ms-grid-row: 1;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: ~"calc( @{height} - 2*@{padding} )";
    }
    .loop(@i) when (@i > 0) {
      .loop((@i - 1));    // next iteration
      // Loop body - set ms grid col
      @t: ~":nth-child(@{i})";
      &@{t} {
        -ms-grid-column: @i;
      }
    }
    .loop(100);

    padding: 0 @padding;
    vertical-align: top;
    font-size: 12px;
    display: block;
    &:not(:first-child):not(.no-separator) {
      border-left: 1px solid @grayBorderLighter;
    }

    line-height: 28px;
    white-space: normal;
    color: lighten(@grayFontGeneral, 20%);

    span {
      display: block;
      font-size: 14px;
      font-weight: normal;
      color: @greenBGSecondaryText;
    }
    i:not(.colored-icon) {
      color: @greenBGSecondaryText;
    }

    .summary-icon-column i.icon {
      font-size: 42px;
      position: relative;
      top: 20px;
      left: 15px;
    }

    &:not(.downloads) {
      display: inline-block;
      overflow: hidden;
      jf-summary-row-item > span:not(.no-ellipsis) {
        width: 100% !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          width: 100% !important;
          max-width: 500px;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
