.jf-markdown-editor {
  position: relative;
  .controls {
    height: 50px;
    position: relative;
    .switch-wrapper {
      position: absolute;
      left: 0;
      bottom: 10px;
      .jf-switch {
        margin-bottom: 0;
        .jf-switch-options {
          padding: 0;
        }
      }
    }
    .lang-select-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      width: 250px;
    }
  }
  .preview-wrapper,
  .code-mirror-wrapper {
    width: 100%;
  }
  .code-mirror-wrapper {
    .save-button {
      margin-top: 20px;
    }
  }
  .preview-wrapper {
    overflow: auto;
    border: 1px solid #eee;
    padding: 15px;
  }
}