<div class="jf-markdown-editor">
    <div class="controls">
        <div class="switch-wrapper">
            <jf-switch ng-if="jfMarkdown.showControls"
                       ng-model="jfMarkdown.mode"
                       ng-change="jfMarkdown.onChangeModeInternal()"
                       options="jfMarkdown.modeOptions"
                       controller="jfMarkdown.switchController"
                       class="no-margin-top"></jf-switch>
        </div>
        <div class="lang-select-wrapper" ng-if="jfMarkdown.showControls && jfMarkdown.mode !== 'Preview'">
            <jf-ui-select jf-select-model="jfMarkdown.language"
                          jf-select-change="jfMarkdown.onLanguageChange()"
                          jf-select-options="['Markdown','Asciidoc','Plain Text']"></jf-ui-select>
        </div>
        <a class="flat-icon" ng-if="!jfMarkdown.showControls && jfMarkdown.editable" ng-click="jfMarkdown.showControls = true"><i class="icon icon-edit-pen"></i> Edit</a>
    </div>
    <div class="code-mirror-wrapper" ng-if="jfMarkdown.mode === 'Edit' && jfMarkdown.showControls">
        <jf-code-mirror
                ng-if="jfMarkdown.language === 'Markdown'"
                mime-type="text/x-markdown"
                mode="gfm"
                allow-edit="true"
                height="100%"
                autofocus="true"
                model="jfMarkdown.markdown">
        </jf-code-mirror>
        <jf-code-mirror
                ng-if="jfMarkdown.language === 'Asciidoc'"
                mime-type="text/x-markdown"
                mode="asciidoc"
                allow-edit="true"
                height="100%"
                autofocus="true"
                model="jfMarkdown.markdown">
        </jf-code-mirror>
        <button ng-if="jfMarkdown.onSave"
                ng-click="jfMarkdown.onSave(); jfMarkdown.showControls = false;"
                class="btn btn-primary save-button pull-right">Save</button>
    </div>
    <div class="preview-wrapper" ng-if="jfMarkdown.mode === 'Preview' || !jfMarkdown.showControls">
        <div class="preview"
             ng-bind-html="jfMarkdown.preview"></div>
    </div>
</div>

