<div class="grid-pagination text-right" ng-if="jfDragDropPagination.paginationApi.getTotalPages()">
	<p>
		<input type="text"
		       class="grid-page-box"
		       ng-style="{'width': (jfDragDropPagination.CONSTANTS.PAGINATION_DIGIT_WIDTH_PX + jfDragDropPagination.paginationApi.getTotalPages().toString().length * jfDragDropPagination.CONSTANTS.PAGINATION_DIGIT_WIDTH_PX) + 'px'}"
		       jf-tooltip="Jump to Page"
		       ng-blur="jfDragDropPagination.onBlur()"
		       ng-model="jfDragDropPagination.pageViewModel"
		       ng-change="jfDragDropPagination.pageChanged()" />
		out of {{ jfDragDropPagination.paginationApi.getTotalPages() }}
		<a href
		   ng-click="jfDragDropPagination.prevPage()"
		   ng-class="{disabled: jfDragDropPagination.currentPage === 1}">&lsaquo;</a>
		<a href
		   ng-click="jfDragDropPagination.nextPage()"
		   ng-class="{disabled: jfDragDropPagination.currentPage === jfDragDropPagination.paginationApi.getTotalPages()}">&rsaquo;</a>
	</p>
</div>