<div ng-class="{'disabled':jfMultiDropdown.disabled}" class="jf-multi-dropdown">
    <label ng-if="jfMultiDropdown.label">{{jfMultiDropdown.label}} <span ng-if="jfMultiDropdown.showLabelCounter && jfMultiDropdown.selectedItems().length">({{jfMultiDropdown.selectedItems().length}})</span></label>
    <div class="main-box"
         ng-class="{'selected-view' : jfMultiDropdown.selectedItems().length}"
         ng-click="jfMultiDropdown.onClick()">
        <span ng-if="!jfMultiDropdown.showSelected">{{jfMultiDropdown.title}} <span class="selected-counter">({{jfMultiDropdown.getSelectedCount()}})</span></span>
        <span ng-if="jfMultiDropdown.showSelected && jfMultiDropdown.selectedItems().length">{{jfMultiDropdown.selectedItems().join(', ')}} <i class="icon icon-clear" ng-click="jfMultiDropdown.unSelectAll()"></i></span>
        <span ng-if="jfMultiDropdown.showSelected && !jfMultiDropdown.selectedItems().length">{{jfMultiDropdown.title}}</span>
        <i class="caret pull-right"></i>
    </div>
    <div ng-if="jfMultiDropdown.opened"
         class="drop-down-container">
        <div class="filter-container" ng-if="!jfMultiDropdown.noFilter">
            <form>
                <jf-field autofocus="true">
                    <input type="text"
                           name="items-filter"
                           class="input-text"
                           ng-model="jfMultiDropdown.filterText"
                           placeholder="{{jfMultiDropdown.filterPlaceholder}}"/>
                </jf-field>
                <div class="batch-selection-wrapper">
                    <div class="batch-selection">
                        <a href
                           ng-click="jfMultiDropdown.selectAll()">Select All</a>
                        <a href
                           ng-click="jfMultiDropdown.unSelectAll()">Unselect All</a>
                    </div>
                </div>
            </form>
        </div>
        <div ng-if="jfMultiDropdown.items.length" class="list-container">
            <div class="drop-down-item"
                 ng-repeat="item in jfMultiDropdown.items | filter:{text: jfMultiDropdown.filterText} track by $index"
                 ng-class="{'last-selected': $index === jfMultiDropdown.lastSelectedIndex && !jfMultiDropdown.filterText}">
                <label class="jf-checkbox">
                    <input type="checkbox"
                           ng-change="jfMultiDropdown.onSelection()"
                           ng-model="item.isSelected">
                    <span></span> <i ng-if="item.iconClass" class="item-icon" ng-class="item.iconClass"></i> {{ item.text }}
                </label>
            </div>
        </div>
        <div ng-if="!jfMultiDropdown.items.length && jfMultiDropdown.noItemsMessage"
             class="list-container">
            <div class="no-items-message">
                {{jfMultiDropdown.noItemsMessage}}
            </div>
        </div>
    </div>
</div>