<div ng-class="{'disabled':jfMultiDropdown.disabled,'with-text-inputs':jfMultiDropdown.textInputs,'borderless':jfMultiDropdown.borderless}" class="jf-multi-dropdown">
    <label ng-if="jfMultiDropdown.label">{{jfMultiDropdown.label}} <span ng-if="jfMultiDropdown.showLabelCounter && jfMultiDropdown.selectedItems().length">({{jfMultiDropdown.selectedItems().length}})</span></label>
    <div class="main-box"
         ng-class="{'selected-view' : jfMultiDropdown.selectedItems().length}"
         ng-click="jfMultiDropdown.onClick()">
        <span ng-if="!jfMultiDropdown.showSelected" class="title-wrapper">
            {{jfMultiDropdown.title}}
            <span class="selected-counter">({{jfMultiDropdown.getSelectedCount()}})</span>
        </span>
        <span ng-if="jfMultiDropdown.showSelected && jfMultiDropdown.selectedItems().length">{{jfMultiDropdown.getSelectedForTitle()}} <i class="icon icon-clear" ng-click="jfMultiDropdown.unSelectAll()"></i></span>
        <span ng-if="jfMultiDropdown.showSelected && !jfMultiDropdown.selectedItems().length">{{jfMultiDropdown.title}}</span>
        <i ng-class="{'icon icon-addons-arrow-right pull-left':jfMultiDropdown.borderless,'caret pull-right':!jfMultiDropdown.borderless}"></i>
    </div>
    <div ng-if="jfMultiDropdown.opened"
         class="drop-down-container">
        <div class="filter-container" ng-if="!jfMultiDropdown.noFilter" ng-class="{'with-select-all-checkbox':jfMultiDropdown.showSelectAllCheckbox}">
            <form>
                <jf-field autofocus="true">
                    <input type="text"
                           name="items-filter"
                           class="input-text"
                           ng-model="jfMultiDropdown.filterText"
                           placeholder="{{jfMultiDropdown.filterPlaceholder}}"/>
                </jf-field>
                <div class="batch-selection-wrapper">
                    <div class="batch-selection" ng-if="!jfMultiDropdown.showSelectAllCheckbox">
                        <a href
                           ng-if="!jfMultiDropdown.singleSelection"
                           ng-click="jfMultiDropdown.selectAll()">Select All</a>
                        <a href
                           ng-click="jfMultiDropdown.unSelectAll()">{{ jfMultiDropdown.singleSelection ? 'Clear selection' : 'Unselect All' }}</a>
                    </div>
                    <div class="batch-selection-checkbox" ng-if="jfMultiDropdown.showSelectAllCheckbox">
                        <label class="jf-checkbox">
                            <input type="checkbox"
                                   ng-disabled="jfMultiDropdown.filterText"
                                   ng-change="jfMultiDropdown.onSelection(true)"
                                   ng-model="jfMultiDropdown.isAllSelected">
                            <span></span> All
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div ng-if="jfMultiDropdown.items.length" class="list-container">
            <div class="drop-down-item"
                 ng-repeat="item in jfMultiDropdown.items | filter:{text: jfMultiDropdown.filterText} track by $index"
                 ng-class="{'last-selected': $index === jfMultiDropdown.lastSelectedIndex && !jfMultiDropdown.filterText, 'disabled': item.disabled}">
                <label class="jf-checkbox" ng-if="!jfMultiDropdown.singleSelection">
                    <input type="checkbox"
                           ng-disabled="item.disabled"
                           ng-change="jfMultiDropdown.onSelection()"
                           ng-model="item.isSelected">
                    <span></span> <i ng-if="item.iconClass" class="item-icon" ng-class="item.iconClass"></i> {{ item.text }}
                </label>
                <jf-radio-button ng-if="jfMultiDropdown.singleSelection"
                                 text="{{item.text}}">
                    <input type="radio"
                           ng-model="jfMultiDropdown.singleSelectionIndex"
                           value="{{item.$id}}"
                           ng-change="jfMultiDropdown.onSingleSelection()"
                           ng-disabled="item.disabled">
                </jf-radio-button>
                <span class="text-input-wrapper" ng-if="jfMultiDropdown.textInputs">
                    <input type="text"
                           name="items-filter"
                           class="input-text"
                           ng-model="item.inputTextValue"
                           placeholder="{{item.inputPlaceholder || 'Free text'}}"/>
                </span>
            </div>
        </div>
        <div class="clear-all-button">
            <button class="btn btn-default pull-right"
                    ng-if="jfMultiDropdown.textInputs"
                    ng-click="jfMultiDropdown.clearSelection()">
                <i class="icon icon-trashcan"></i>
                Clear All
            </button>
        </div>
        <div ng-if="!jfMultiDropdown.items.length && jfMultiDropdown.noItemsMessage"
             class="list-container">
            <div class="no-items-message">
                {{jfMultiDropdown.noItemsMessage}}
            </div>
        </div>
    </div>
</div>