<div ng-class="{'disabled':jfMultiDropdown.disabled,'with-text-inputs':jfMultiDropdown.textInputs,'borderless':jfMultiDropdown.borderless}" class="jf-multi-dropdown">

    <label ng-if="jfMultiDropdown.label">{{jfMultiDropdown.label}} <span ng-if="jfMultiDropdown.showLabelCounter && jfMultiDropdown.selectedItems().length">({{jfMultiDropdown.selectedItems().length}})</span></label>


    <div class="main-box"
         ng-class="{'selected-view' : jfMultiDropdown.selectedItems().length,
                    'no-items': !jfMultiDropdown.items.length && jfMultiDropdown.noItemsMessage,
                    'no-label': !jfMultiDropdown.label}"
         ng-click="jfMultiDropdown.onClick()">


        <!--Default-->
        <span ng-if="jfMultiDropdown.showSelected && !jfMultiDropdown.selectedItems().length">{{jfMultiDropdown.title}}</span>

        <!--SHOW SELECTED COUNTER-->
        <span ng-if="!jfMultiDropdown.showSelected" class="title-wrapper">
            {{jfMultiDropdown.title}}
            <span class="selected-counter">({{jfMultiDropdown.getSelectedCount()}})</span>
        </span>

        <!--Something selected and shown-->
        <span ng-if="jfMultiDropdown.showSelected && jfMultiDropdown.selectedItems().length">
            {{jfMultiDropdown.getSelectedForTitle()}}
        </span>



        <!--ACTIONS-->
        <span class="actions">
            <i ng-if="jfMultiDropdown.showSelected && jfMultiDropdown.selectedItems().length" ng-click="jfMultiDropdown.unSelectAll()" class="clear-field">&#215;</i>
            <i class="icon-small-arrow-down"></i>
        </span>

    </div>








    <div ng-if="jfMultiDropdown.opened"
         class="drop-down-container">
        <div class="filter-container" ng-if="!jfMultiDropdown.noFilter">
            <form>
                <jf-field autofocus="true">
                    <input type="text"
                           autocomplete="off"
                           name="items-filter"
                           class="input-text"
                           ng-model="jfMultiDropdown.filterText"
                           placeholder="{{jfMultiDropdown.filterPlaceholder}}"/>
                </jf-field>
            </form>
        </div>
        <div ng-if="jfMultiDropdown.items.length" class="list-container">
            <div class="drop-down-item"
                 ng-repeat="item in jfMultiDropdown.items | filter:{text: jfMultiDropdown.filterText} track by $index"
                 ng-class="{'last-selected': $index === jfMultiDropdown.lastSelectedIndex && !jfMultiDropdown.filterText, 'disabled': item.disabled}">
                <label class="jf-checkbox" ng-if="!jfMultiDropdown.singleSelection">
                    <input type="checkbox"
                           ng-disabled="item.disabled"
                           ng-change="jfMultiDropdown.onSelection()"
                           ng-model="item.isSelected">
                    <span></span> <i ng-if="item.iconClass" class="item-icon" ng-class="item.iconClass"></i> {{ item.text }}
                </label>
                <jf-radio-button ng-if="jfMultiDropdown.singleSelection"
                                 text="{{item.text}}">
                    <input type="radio"
                           ng-model="jfMultiDropdown.singleSelectionIndex"
                           value="{{item.$id}}"
                           ng-change="jfMultiDropdown.onSingleSelection()"
                           ng-disabled="item.disabled">
                </jf-radio-button>
                <span class="text-input-wrapper" ng-if="jfMultiDropdown.textInputs">
                    <input type="text"
                           name="items-filter"
                           class="input-text"
                           ng-model="item.inputTextValue"
                           placeholder="{{item.inputPlaceholder || 'Free text'}}"/>
                </span>
            </div>
        </div>
        <div class="batch-action-buttons" ng-if="jfMultiDropdown.items.length">
            <button class="btn btn-default pull-right"
                    ng-click="jfMultiDropdown.clearSelection()">
                {{ jfMultiDropdown.singleSelection ? 'Clear selection' : 'Clear All' }}
            </button>
            <button class="btn btn-default pull-right"
                    ng-if="!jfMultiDropdown.singleSelection"
                    ng-click="jfMultiDropdown.selectAll()">
                Select All
            </button>
        </div>
        <div ng-if="!jfMultiDropdown.items.length && jfMultiDropdown.noItemsMessage"
             class="list-container">
            <div class="no-items-message">
                {{jfMultiDropdown.noItemsMessage}}
            </div>
        </div>
    </div>
</div>