.jf-multi-dropdown {
  position: relative;
  display: inline-block;

  label {
    font-weight: 100;
  }

  .icon-clear {
    position: absolute !important;
    font-size: 18px !important;
    right: 25px;
    margin-top: -3px;
  }
  .main-box {
    width: 280px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid @grayBorderLighter;
    position: relative;
    cursor: pointer;
    background-color: white;
    .selected-counter {
      font-size: 12px;
      font-weight: 600;
      margin-left: 10px;
      vertical-align: top;
    }
    .caret {
      position: absolute;
      height: 10px;
      top: 50%;
      right: 10px;
      margin-top: -2px;
    }
  }

  .selected-view > span {
    display: block;
    padding-right: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .drop-down-container {
    position: absolute;
    background-color: white;
    top: 30px;
    left: 0;
    width: 100%;
    border: 1px solid @grayBorderLighter;
    border-top: none;
    z-index: 99;
    .filter-container {
      padding: 8px 10px;
      border-bottom: 1px solid @grayBorderLighter;
    }
    .list-container {
      max-height: 200px;
      overflow: hidden;
      overflow-y: auto;
      .no-items-message {
        text-align: center;
        color: @redError;
        font-size: 12px;
        font-weight: 800;
      }
      .drop-down-item {
        position: relative;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        border-bottom: 1px solid @grayBorderLighter;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .item-icon:before {
          margin: 0 8px;
          vertical-align: middle;
        }
        &.disabled {
          background: @grayBGLighter !important;
          &:hover {
            background: @grayBGLighter !important;
          }
        }
        &:hover {
          background: @greenBGDropdownHover !important;
        }
        &.last-selected {
          border-bottom: 1px solid @blackBGDark;
        }
      }
    }
    .batch-action-buttons {
      button {
        font-weight: 600;
        font-size: 12px;
      }
    }
  }

  &.disabled {
    * {
      opacity: 0.6;
      cursor: default;
    }
  }
  &.borderless {
    .main-box {
      border: none;
      background: transparent;
      .title-wrapper, .selected-counter {
        font-weight: 700;
      }
    }
    i.icon-addons-arrow-right {
      transform: rotate(90deg) scale(.7, ps .7);
      -ms-transform: rotate(90deg) scale(0.7);
      -webkit-transform: rotate(90deg) scale(.7, .7);
      position: relative;
      left: -7px;
    }
    .selected-view > span {
      display: inline-block;
      overflow: unset;
    }
    .drop-down-container {
      top: 44px;
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .17);
      .list-container {
        .drop-down-item {
          &:hover {
            background: @grayGridRowHover !important;
          }
        }
      }
    }
  }
  &.with-text-inputs {
    .main-box {
      width: 380px;
    }
    .drop-down-container {
      .list-container {
        .drop-down-item {
          height: 65px;
          line-height: 65px;
          padding: 0 10px;
          span.text-input-wrapper {
            position: absolute;
            right: 10px;
            display: inline-block;
            line-height: 0;
            top: 13px;
            input {
              padding: 0 10px;
              width: 220px;
            }
          }
        }
      }
      .batch-action-buttons {
        button {
          height: 60px;
        }
      }
    }
  }
}