<div class="grid-batch-actions text-right">
    <div class="grid-batch-action-wrapper"
         ng-repeat="action in jfBatchActions.actions"
         jf-tooltip="{{jfBatchActions.isDisabled(action) ? action.getDisabledTooltip() : ''}}">
        <a ng-class="{disabled: jfBatchActions.isDisabled(action)}"
           ng-if="!action.visibleWhen || action.visibleWhen()"
           ng-click="jfBatchActions.perform(action)"
           class="btn batch-action-{{action.icon}}">
            <img ng-src="images/{{action.icon}}.png"
                 ng-if="action.img"/>
            <i class="icon icon-{{action.icon}}"
               ng-if="!action.img"></i> {{ action.name }}
        </a>
    </div>
</div>§