<div id="jf-main-nav"
     ng-style="jfSidebar.menu"
     ng-mouseleave="jfSidebar.mouseLeaveMenu()"
     ng-mouseover="jfSidebar.mouseOverMenu()">

    <span class="pin-menu" ng-click="jfSidebar.pinMenu()"><i class="icon-menu-arrow" ng-class="{'menu-arrow-close' : jfSidebar.pinMenuStatus}"></i></span>
    <ul class="sidebar-wrapper-inner">
        <li ng-repeat="item in jfSidebar.menuItems"
            ng-click="jfSidebar.itemClick(item)"
            ng-class="{disabled: item.isDisabled, active: (item.stateParent | includedByState) || jfSidebar.isCurrentItem(item), 'icon-arrow-left':item.children }">

            <a ng-if="item.isDisabled"
               class="menu-item disabled"
               id="{{item.id}}"><i class="{{item.icon}}"></i><span>{{item.label}}</span></a>

            <a ng-click="jfSidebar.goToState(item)"
               class="menu-item"
               id="{{item.id}}"
               ng-mouseover="jfSidebar.mouseOverMenu()"
               ng-if="!item.isDisabled && item.label != 'Admin'"><i class="{{item.icon}}"></i><span>{{item.label}}</span></a>

            <a href
                 class="menu-item"
                 id="{{item.id}}"
                 ng-mouseover="jfSidebar.openAdminMenu(true)"
                 ng-mouseleave="jfSidebar._adminMenuDelayStop(); jfSidebar.adminMenuItemDelay = true; jfSidebar.closeAdminMenu();"
                 ng-if="!item.isDisabled && item.label == 'Admin'"><i class="{{item.icon}}"></i><span>{{item.label}}</span>
            </a>

            <div class="admin-menu" ng-if="item.label === 'Admin' && !item.isDisabled" ng-mouseover="jfSidebar.menuAdminOver()" ng-mouseleave="jfSidebar.adminMenuItemDelay = true; jfSidebar.closeAdminMenu()">

                <div class="searchbox-wrapper" ng-if="jfSidebar.noSearchBox === undefined">
                    <input type="text"
                           class="input-text"
                           id="menuSearchQuery"
                           placeholder="Filter Menu..."
                           autocomplete="off"
                           ng-model="jfSidebar.menuSearchQuery"
                           ng-focus="jfSidebar.openAdminMenu()"
                           ng-change="jfSidebar.checkForSingleChoice()"
                           ng-keydown="jfSidebar.navigateInMenu($event)"
                           jf-enter-press="jfSidebar.chooseSingleChoice()" />
                        <span class="clear-input"
                              ng-click="jfSidebar.menuSearchQuery = ''"
                              ng-class="{'disabled': !jfSidebar.menuSearchQuery}">&times;</span>
                </div>

                <div class="masonry" ng-class="{'no-search-box': jfSidebar.noSearchBox !== undefined}" tabindex="-1">
                    <div>
                        <div ng-repeat="item in jfSidebar.adminMenuItems" class="section" ng-if="!item.isHidden">
                            <h3>{{item.label}}</h3>
                        <span ng-repeat="subItem in item.subItems"
                              jf-disable-feature="{{ subItem.feature }}"
                              ng-if="!subItem.isHidden">
                            <a ng-class="{'blocked': subItem.isDisabled}"
                               ng-if="subItem.isDisabled">
                                {{subItem.label}}
                            </a>
                            <a ng-class="{'highlight' : jfSidebar.searchHighlightCheck(subItem.label),
                                          'not-active' : !jfSidebar.searchHighlightCheck(subItem.label) && jfSidebar.menuSearchQuery.length,
                                          'current' : jfSidebar.isCurrentItem(subItem)}"
                               ng-if="!subItem.isDisabled"
                               ui-sref="{{ subItem.state }} ({{ subItem.stateParams }})"
                               ng-click="jfSidebar.adminItemClick(subItem)"
                               ng-keydown="jfSidebar.navigateInMenu($event)"
                               data-state="{{ subItem.state }}"
                               data-params="{{ subItem.stateParams }}"
                               id="item-{{subItem.id}}">
                                {{subItem.label}}
                            </a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>

    <ng-include ng-if="jfSidebar.footerTemplate" src="jfSidebar.footerTemplate"></ng-include>
<!--
    <div class="sidebar-footer">
        <div class="icon"><i class="icon-jfrog-logo"></i></div>
        <div class="wrapper-footer-data">
            {{jfSidebar.footerData.versionInfo}}<br />
            {{jfSidebar.footerData.buildNumber}}<br ng-if="jfSidebar.footerData.buildNumber" />
            {{jfSidebar.footerData.serverId}}<br ng-if="jfSidebar.footerData.serverId" />
            {{jfSidebar.footerData.licenseInfo}}<br ng-if="jfSidebar.footerData.licenseInfo" />
            <span>{{jfSidebar.footerData.copyRights}}</span>
        </div>
    </div>
-->
</div>