<div class="jf-widgets-layout-container"
     ng-style="jfWidgetsLayout.containerCss">
    <div class="widgets-padder"
         ng-style="jfWidgetsLayout.padderCss">
        <div ng-repeat="row in jfWidgetsLayout.layout"
             class="widgets-row">
            <div ng-repeat="layoutObj in row"
                 ng-init="widget=jfWidgetsLayout.widgets[layoutObj.widget]"
                 ng-style="jfWidgetsLayout.cssRules[layoutObj.widget]"
                 class="widget-wrapper">
                <div class="widget-container"
                     ng-style="{overflow: jfWidgetsLayout.widgets[layoutObj.widget].scroll ? 'auto' : 'hidden'}">
                    <div ng-if="widget.showSpinner"
                         class="widget-spinner">
                        <div class="spinner-msg">
                            <div class="icon-hourglass"></div>
                        </div>
                    </div>
                    <div ng-if="widget.template" ng-show="widget.$compiled || (!widget.model && !widget.controller)">
                        <div class="compile-children"
                             id="{{layoutObj.widget}}"
                             ng-bind-html="widget.template"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>