<div class="jf-widgets-layout-container" jf-disable-ng-animate
     ng-style="jfWidgetsLayout.containerCss"
     ng-mouseleave="jfWidgetsLayout.onMouseLeave($event)"
     ng-mousemove="jfWidgetsLayout.onMouseMove($event)"
     ng-mousedown="jfWidgetsLayout.onMouseDown($event)"
     ng-mouseup="jfWidgetsLayout.onMouseUp($event)">
    <div class="widgets-padder"
         ng-style="jfWidgetsLayout.padderCss">
        <div ng-repeat="rowOrColumn in jfWidgetsLayout.transformedLayout"
             class="widgets-row">
            <div ng-repeat="layoutObj in rowOrColumn"
                 ng-style="jfWidgetsLayout.cssRules[layoutObj.cssId]"
                 class="widget-wrapper"
                 ng-class="'widget-wrapper-' + jfWidgetsLayout.widgets[layoutObj.widget].id.toLowerCase()">
                <div ng-if="!layoutObj.subLayout && jfWidgetsLayout.editMode"
                     class="edit-mode-actions"
                     ng-mousemove="jfWidgetsLayout.onWidgetMouseMove($event)">
                    <i class="glyphicon glyphicon-asterisk"
                       jf-tooltip="Change"
                       ng-click="jfWidgetsLayout.changeWidget(layoutObj)"></i>
                    <i class="glyphicon glyphicon-remove-circle"
                       jf-tooltip="Remove"
                       ng-click="jfWidgetsLayout.removeWidget(layoutObj)"></i>
                    <i class="glyphicon glyphicon-resize-vertical"
                       jf-tooltip="Vertical Split"
                       ng-click="jfWidgetsLayout.splitCell(layoutObj,'v')"></i>
                    <i class="glyphicon glyphicon-resize-horizontal"
                       jf-tooltip="Horizontal Split"
                       ng-click="jfWidgetsLayout.splitCell(layoutObj,'h')"></i>
                </div>
                <div ng-if="!layoutObj.subLayout && jfWidgetsLayout.editMode && layoutObj.selectWidgetMode"
                     class="select-widget-mode"
                     ng-mousemove="jfWidgetsLayout.onWidgetMouseMove($event)">
                    <div class="widget-selector">
                        <jf-ui-select jf-select-model="layoutObj.widget"
                                      jf-select-display-func="jfWidgetsLayout.getWidgetName($item)"
                                      jf-select-placeholder="Select A Widget"
                                      jf-select-change="jfWidgetsLayout.onWidgetChange(layoutObj)"
                                      jf-select-options="jfWidgetsLayout.widgetKeys"></jf-ui-select>
                    </div>
                </div>
                <div class="widget-container"
                     ng-mousemove="jfWidgetsLayout.onWidgetMouseMove($event)"
                     ng-if="!layoutObj.subLayout"
                     ng-style="{overflow: jfWidgetsLayout.widgets[layoutObj.widget].scroll ? 'auto' : 'hidden'}">
                    <div ng-if="jfWidgetsLayout.widgets[layoutObj.widget] && jfWidgetsLayout.widgets[layoutObj.widget].showSpinner"
                         class="widget-spinner">
                        <div class="spinner-msg">
                            <div class="icon-hourglass"></div>
                        </div>
                    </div>
                    <div ng-if="jfWidgetsLayout.widgets[layoutObj.widget] && jfWidgetsLayout.widgets[layoutObj.widget].template" ng-show="jfWidgetsLayout.widgets[layoutObj.widget].$compiled || (!jfWidgetsLayout.widgets[layoutObj.widget].model && !jfWidgetsLayout.widgets[layoutObj.widget].controller)">
                        <div class="compile-children"
                             ng-show="jfWidgetsLayout.widgets[layoutObj.widget].$compiled"
                             id="{{layoutObj.widget}}"
                             ng-bind-html="jfWidgetsLayout.widgets[layoutObj.widget].template"></div>
                    </div>
                </div>
                <div ng-if="layoutObj.subLayout">
                    <jf-widgets-layout layout="layoutObj.subLayout"
                                       widgets="jfWidgetsLayout.widgets"
                                       options="jfWidgetsLayout.subOptions"
                                       parent-cell="layoutObj"></jf-widgets-layout>
                </div>
            </div>
        </div>
    </div>
    <div id="home-disclaimer" ng-bind-html="jfWidgetsLayout.footerText" ng-if="jfWidgetsLayout.footerText"></div>
</div>