<div class="jf-widgets-layout-container">
    <div class="widgets-padder"
         ng-style="jfWidgetsLayout.padderCss">
        <div ng-repeat="row in jfWidgetsLayout.layout"
             class="widgets-row">
            <div ng-repeat="widget in row"
                 ng-style="jfWidgetsLayout.cssRules[widget.id]"
                 class="widget-wrapper">
                <div class="widget-container"
                     ng-style="{overflow: widget.scroll ? 'auto' : 'hidden'}">
                    <div ng-if="widget.template" ng-show="widget.$compiled || (!widget.model && !widget.controller)">
                        <div class="compile-children"
                             id="{{widget.id}}"
                             ng-bind-html="widget.template"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>