jf-context-menu {
  .jf-context-menu {
    background: white;
    position: absolute;
    width: 190px;
    top: -100%;
    left: -100%;
    z-index: 10000003;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .25);
    .action-item {
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      font-size: 13px;
      span {
        margin-left: 8px;
      }
      .action-icon {
        &:before {
          width: auto !important;
          font-size: 18px;
          line-height: 40px;
          float: left;
        }
      }
      &:hover {
        color: @greenFontHeader;
        background-color: @greenBGDropdownHover !important;
        box-shadow: inset 3px 0 0 0 @greenFontHeader;
        &[icon-name~="icon-clear"] {
          color: @redError;
          background: #F4E7E7 !important;
          box-shadow: inset 3px 0 0 0 @redError;
        }
      }
    }
  }
}
