<div class="grid-container" ng-if="gridOptions.data"
     ng-class="{'single-select':gridOptions.allowSingleSelect}"
     ng-style="{overflow: gridOptions.moreActionsController.isDropdownOpen ? 'visible' : 'hidden'}">
    <div class="columns-customization pull-right"
         ng-if="gridOptions.columnsCustomization">
        <jf-multi-dropdown title="Columns"
                           filter-placeholder="Filter Columns"
                           items="gridOptions.availableColumns"
                           on-change="gridOptions.updateCustomizedColumns()"></jf-multi-dropdown>
    </div>
    <div class="wrapper-grid-actions" ng-show="!noPagination || !noCount || gridOptions.batchActions.length || filterField">

        <div class="counter-and-filter">
            <div ng-if="!noCount" class="grid-counter">{{ getTotalRecords() }}<span ng-if="getSelectedRecords()"> ({{getSelectedRecords()}} Selected)</span></div>

            <div ng-if="filterField" class="filter-group">
                <jf-grid-filter
                        auto-focus="{{autoFocus}}"
                        filter-grid="gridOptions"
                        filter-field="{{ filterField }}"
                        filter-field2="{{ filterField2 }}"
                        filter-on-change="{{ filterOnChange }}">
                </jf-grid-filter>
            </div>
        </div>

        <jf-grid-pagination ng-show="!noPagination"
                            grid-api="gridOptions.api"
                            class="pull-right">
        </jf-grid-pagination>

        <jf-grid-batch-actions grid-options="gridOptions"
                               grid-api="gridOptions.api"
                               actions="gridOptions.batchActions">
        </jf-grid-batch-actions>
    </div>
    <div ui-grid="gridOptions"
         ui-grid-draggable-rows
         ui-grid-selection
         ui-grid-pagination
         ui-grid-grouping
         ui-grid-edit
         ui-grid-resize-columns
         ng-style="{visibility: gridOptions.columnDefs.length ? 'visible' : 'hidden'}"
         class="grid"></div>
</div>