<div class="wrapper-drop-zone">
    <div class="drop-zone"
         nv-file-drop uploader="jfFileUploader"
         nv-file-over over-class="drop-zone-hover"
         ng-disabled="jfFileDisabled"
         ng-class="{'drop-zone-load': jfFileUploader.queue.length , 'multiple': multiple}">
        <label class="file-input-label">
            <input class="select-files-hidden"
                    type="file"
                    ng-if="!jfFileUploader.queue[0].progress && !multiple"
                    nv-file-select
                    uploader="jfFileUploader"
                    ng-disabled="jfFileDisabled"
                    title=" " />
            <input class="select-files-hidden"
                   type="file"
                   ng-if="!anyFileUploadInProgress() && multiple"
                   nv-file-select
                   uploader="jfFileUploader"
                   ng-disabled="jfFileDisabled"
                   title=" "
                   multiple/>
            <div ng-if="multiple || !jfFileUploader.queue.length">
                <span>Drop file</span> here or <span>Select file</span>
            </div>
            <div ng-if="!multiple && jfFileUploader.queue.length && (!jfFileUploader.queue[0].progress || !showProgressBar)"
                    class="drop-zone-file-name">{{jfFileUploader.queue[0].file.name}}</div>
            <div ng-if="!multiple && showProgressBar">
                <div ng-repeat="item in jfFileUploader.queue">
                    <div ng-show="jfFileUploader.isHTML5 && item.progress"
                            class="file-upload-progress file-info">
                        <div class="progress-file-drop">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                        ng-style="{ 'width': item.progress + '%' }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </label>
        <div class="upload-files-frame"
             ng-if="multiple">
            <ul>
                <li ng-repeat="item in jfFileUploader.queue" class="upload-item">
                    <jf-checkbox class="file-selection pull-left"
                                 ng-show="item.hasCheckbox"
                                 jf-tooltip="{{ checkboxesName }}">
                        <input type="checkbox"
                               ng-change="item.onCheckboxChange(item)"
                               ng-model="item.isCheckboxChecked">
                    </jf-checkbox>
                    <span ng-class="{'file-name-deploy-multi': true, 'full-width':!showFileSize}" jf-tooltip="{{ item.file.name }}">{{ item.file.name }}</span>
                    <span ng-if="showFileSize" class="file-size-deploy-multi">{{ item.file.size | filesize}}</span>
                    <a href=""
                       ng-click="item.remove(); multiUploadItemRemoved(); removeItemCallback(item)"
                       jf-tooltip="Remove"
                       class="icon icon-clear pull-right item-remove"></a>
                </li>
            </ul>
        </div>
    </div>
</div>