.jf-drawer {
  position: relative;
  margin: 15px 0;
  padding-top: 15px;
  border-top: 1px solid @grayBorderLighter;

  .drawer-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon-arrow {
      margin: 0 15px;
      color: #707070;
      transition: transform .2s ease-in-out;
      transform: rotate(90deg);

      &.drawer-arrow-close {
        transform: rotate(0deg);
        top: -1px;
      }
    }

    .drawer-header-title {
      font-size: 18px;
      font-weight: 600;
    }
    .drawer-header-description {
      margin-left: 10px;
      flex-grow: 1;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .drawer-content {
    padding: 20px 0 20px 60px;
    overflow: hidden;
    transition: height .2s ease-in-out;
  }
}
