.jf-tabular-dnd {
  .dnd-actions {
    margin-top: 60px;
    padding: 0;

    li {
      display: block;
      padding: 5px 0;
      text-align: center;

      span {
        display: block;
        font-size: 38px;
        font-weight: 400;
        color: @greenFontHeader;
        line-height: 28px;
        cursor: pointer;
        overflow: hidden;

        &[disabled] {
          color: @grayBGDarker;
        }
      }
    }
  }

}


