.jf-tabular-dnd {
  .dnd-actions {
    margin-top: 100px;
    padding: 0;
    text-align: center;

    li {
      display: block;
      padding: 5px 0;
      text-align: center;

      span {
        display: inline-block;
        font-size: 24px;
        font-weight: 100;
        background-color: @greenFontHeader;
        color: white;
        line-height: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        overflow: hidden;
        padding-right: 1px;
        border-radius: 50%;

        &[disabled] {
          background-color: @grayBGDarker;
        }
      }
    }
  }

  .jf-table-row {
    &:not(.headers) {
      &.selected {
        background-color: @grayBGLight;
      }
    }
  }
}


