<div class="grid-filter">
    <form name="jfGridFilter.gridFilterForm" novalidate>
        <jf-field validations="gridFilter" autofocus="jfGridFilter.autoFocus">
            <input type="text"
                   name="gridFilter"
                   class="input-text"
                   jf-validator-max-text-length="1024"
                   ng-model="jfGridFilter.gridFilter"
                   ng-model-options="{debounce: jfGridFilter.shouldFilterOnChange() ? 200 : 0}"
                   ng-change="jfGridFilter.onChange()"
                   ng-style="{color:jfGridFilter.noMatches ? 'red' : 'black'}"
                   placeholder="{{jfGridFilter.getPlaceHolder()}}"/>
        </jf-field>
<!--
        <div ng-if="jfGridFilter.noMatches" class="alert-warning" style="margin-bottom: 10px">No Matches Found</div>
-->
        <div class="btn-group" ng-if="!jfGridFilter.shouldFilterOnChange()">
            <button class="btn btn-primary" ng-click="jfGridFilter.doFilter()"
                    ng-disabled="jfGridFilter.disableButton">
                <span class="icon icon-refresh"></span>
            </button>
        </div>
    </form>
</div>