@wizardLightGray:   #E2E2E2;


.jf-wizard-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .wizard-bar {
    border: 1px solid #ccc;

    ul {
      display: flex;
      list-style: none;
      li {
        text-align: center;
        flex-grow: 1;
        a {
          display: block;
          color: black;
          height: 40px;
          line-height: 40px;
          position: relative;
          padding-left: 15px;

          &:after, &:before {
            left: 0;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #ffffff;
            border-width: 20px;
            margin-top: -20px;
          }
          &:before {
            border-color: rgba(201, 201, 201, 0);
            border-left-color: #ccc;
            border-width: 21px;
            margin-top: -21px;
          }
        }

        &:hover {
          background: @wizardLightGray;
          & + li {
            a:after {border-left-color: @wizardLightGray;}
          }
        }
        &.active {
          background: @greenBGDark;
          & + li {
            a:after {border-left-color: @greenBGDark;}
          }
          a {color: #fff;}
        }

        &:first-child {
          a:after, a:before {display: none;}
        }

        &.disabled {
          a {color: @wizardLightGray;}
          &:hover {
            background: inherit;
            a {
              color: @wizardLightGray;
              cursor: default;
            }
            & + li {
              a:after {border-left-color: #fff;}
            }
          }
        }
      }
    }
  }
  .wizard-content {
    flex-grow: 2;
    overflow: auto;
    padding-top: 10px;
  }
}