<div class="jf-wizard-container">
	<div class="wizard-bar">
		<ul>
			<li ng-repeat="tab in $ctrl.tabs" ng-class="{'active': $ctrl.active.title === tab.title}"
			    jf-disable-feature="{{ tab.title }}"
			    ng-if="$ctrl.isVisible(tab) && !$ctrl.isDisabledTab(tab)">
				<a href="" ng-click="$ctrl.switch(tab)">{{tab.title}}</a>
			</li>

			<li ng-repeat="tab in $ctrl.tabs"
			    class="disabled"
			    ng-if="$ctrl.isVisible(tab) && $ctrl.isDisabledTab(tab)">
				<a href>{{tab.title}}</a>
			</li>
		</ul>
	</div>

	<div class="wizard-content" >
		<div ng-transclude>

		</div>
	</div>
</div>

