.jf-table-view {
  width: 100%;
  .jf-table-top {
    position: relative;


    a.new-entity {
      color: @gray-dark;
      font-size: 16px;
      &:hover {
        text-decoration: none;
        color: @color-JFrog-green;
      }
      i {
        font-size: 18px;
        margin: 1px 8px 0 0;
        vertical-align: middle;
      }
    }

    .jf-table-right-actions {
      & > div {
        display: inline-block;
        margin: 0 15px
      }
    }


    .grid-batch-actions {padding: 0;}
    .pagination-controls {
      .grid-pagination {
        margin: 0;
        padding: 0;
      }

    }


    .sort-and-filter-wrapper {
      margin-bottom: 15px;
      & > div {
        //display: inline-block;
        float: left;
        &:not(:first-child) {margin-left: 10px;}
      }
    }

    .jf-table-filter {
      i {color: @light-gray;}
      .input-search-wrapper {
        background: #f1f1f1;
        border: 1px solid @line-seperator;
        border-radius: 4px;
        padding: 0 8px;
        width: 250px;
        input {
          border: 0;
          background-color: transparent;
          height: 36px;
          outline: none;
          .placeholder-style(@light-gray, 16px, 36px);
          &.no-results {
            color: red;
          }
        }
      }
    }

    .sort-controller {

      .ui-select-no-choice {display: none;}

      .ui-select-match > span,
      input.ui-select-search {
        background: #f1f1f1 !important;
        border: 1px solid @line-seperator !important;
        border-radius: 4px !important;
        padding: 0 8px;
        height: 38px !important;
        line-height: 38px;
        width: 156px !important;
        color: @gray-dark;
      }


      .ui-select-container .text-muted {
        font-size: 14px;
      }


      /*.ui-select-container {



        .sort-dir-icon {
          &.asc {
            opacity: 1;
            transform: scale(1, 1) rotate(270deg)
          }
          &.desc {
            opacity: 1;
            transform: scale(1, -1) rotate(270deg)
          }
        }

      }*/
    }
  }

  .jf-table-view-container {
    width: 100%;
    .table-rows-container {
      position: relative;
      .scroll-faker-container {
        position: absolute;
        width: 30px;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        z-index: 0;
        .scroll-faker {
        }
      }
      .jf-table-row {
      }
    }
    .empty-table-placeholder {
      font-size: 20px;
      height: 60px;
      line-height: 60px;
      width: 100%;
      //background-color: lightgoldenrodyellow;
      text-align: center;
    }
    .jf-table-row {
      display: flex;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      &.group-header {
        background-color: white !important;
        color: @greenBGDark;
        cursor: pointer;
        &.expanded {
          background-color: @greenBGSmallHover !important;
        }
      }
      &:not(.headers) {
        border: none;
        border-bottom: 1px solid #cdd2d4;
      }

      &.headers {
        border-bottom: 1.5px solid @greenBorderLight;
      }
      &:not(:first-child) {
        border-top: none;
      }
      .jf-table-cell {
        display: inline-table;
        //padding: 5px;
        overflow: hidden;
        z-index: 1;

        &.drag-right {
          border-right: 1px @greenBorderLight dotted !important;
        }
        &.drag-left {
          //          border-left: 1px @greenBorderLight dashed;
        }

        &.selection,
        &.actions {
          padding: 0px !important;
        }
        &.header {
          &.sortable {
            cursor: pointer;
          }
        }
        &.group-header {
          .icon-more {
            transform: rotate(-90deg) translate(-15px, 0) scale(1.5, 1.5);
            margin: 0 18px 0 7px;
            display: inline-block;
            &.expanded {
              transform: rotate(0deg) translate(0, 16px) scale(1.5, 1.5);
            }
          }
          .group-header-count {
            display: table-cell;
            padding-left: 10px;
            font-weight: 800;
            font-size: 20px;
            vertical-align: middle;
            padding-bottom: 4px;
          }
        }
        .jf-table-cell-content {
          overflow: hidden;
          display: table-cell;
          vertical-align: middle;
          white-space: nowrap;
          text-overflow: ellipsis;
          &:not(.group-header) {
            max-width: 0;
          }
          &.group-header {

          }
          .group-button-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: super;
            .group-button {
              position: absolute;
              width: 24px;
              height: 24px;
              top: -12px;
              left: 10px;
            }
          }
          .selection-button,
          .action-button {
            cursor: pointer;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            .action-icon {
              &:before {
                font-size: 22px;
              }
            }
            .action-icon:hover {
              &:before {
                color: @greenBGDark;
              }
            }
          }
          .selection-button {
            .selection-icon {
              &:before {
                font-size: 22px;
                color: @grayBorderLighter;
              }
              &.selected {
                &:before {
                  color: @greenBGDark;
                }
              }
            }
          }
        }
      }
    }
  }

  &.old-grid-theme {
    .jf-table-view-container {
      font-size: 16px;
      .table-rows-container {
      }
      .empty-table-placeholder {
      }
      .jf-table-row {
        border: 1px solid @grayGridHeader;
        &:nth-child(odd) {
          background-color: @white;
        }
        &:nth-child(even) {
          background-color: @grayGridRow;
        }
        &:not(:last-child) {
          border-bottom: none;
        }
        &:not(.headers) {
        }
        &.headers {
          border-bottom: none;
          color: @grayFontGeneral;
          background-color: @grayGridHeader;
          .jf-table-cell-content {
            .selection-button {
              .selection-icon:not(.selected) {
                &:before {
                  color: @grayBorderDarker !important;
                }
              }
            }
          }

        }
        &:not(:first-child) {
        }
        .jf-table-cell {
          &:not(.group-header) {
            border-right: 1px solid @grayGridHeader;
          }
          &.actions {
            border-right: none;
          }
          &.header {
            &.sortable {
            }
          }
          &.group-header {
            .icon-more {
              transform: rotate(-90deg) translate(-5px, 0);
              margin: 0 5px 0 5px;
              &.expanded {
                transform: rotate(0deg) translate(0, 6px);
              }
            }
          }

          .jf-table-cell-content {
            .selection-button,
            .action-button {
              .action-icon {
                &:before {
                }
              }
              .action-icon:hover {
                &:before {
                }
              }
            }
            .selection-button {
              .selection-icon {
                &:before {
                  color: @grayBGDarker;
                  font-size: 16px;
                }
                &:hover:before {
                  color: @grayFontGeneral;
                }
                &.selected {
                  &:before {
                    color: @greenFontHeader;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

