.jf-table-view {
  width: 100%;
  .jf-table-top {
    .jf-table-filter {
      width: 33%;
      display: inline-block;
      height: 50px;
      input {
        width: 200px;
        padding: 5px;
      }
    }
    .new-entity {
      display: inline-block;
      width: 33%;
      height: 50px;
      font-size: 18px;
      font-weight: 500;
      padding: 5px;
      cursor: pointer;
      text-align: center;
      span.icon:before {
        font-weight: 600 !important;
      }
    }
    .pagination-controls {
      display: inline-block;
      width: 33%;
      height: 50px;
      jf-drag-drop-pagination {
        position: absolute;
        top: 18px;
        right: 0;
      }
    }
  }
  .jf-table-view-container {
    width: 100%;
    .empty-table-placeholder {
      font-size: 70px;
      height: 120px;
      width: 100%;
      background-color: lightgoldenrodyellow;
      text-align: center;
    }
    .jf-table-row {
      display: flex;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      &:not(.headers) {
        border: 1.5px solid @greenBorderLight;
      }
      &.headers {
        border-bottom: 1.5px solid @greenBorderLight;
      }
      &:not(:first-child) {
        border-top: none;
      }
      .jf-table-cell {
        display: inline-table;
        padding: 5px;
        overflow: hidden;

        &.selection,
        &.actions {
          padding: 0px !important;
        }
        &.header {
          &.sortable {
            cursor: pointer;
          }
        }
        .jf-table-cell-content {
          overflow: hidden;
          display: table-cell;
          vertical-align: middle;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 0;
          .selection-button,
          .action-button {
            cursor: pointer;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            .action-icon {
              &:before {
                font-size: 22px;
              }
            }
            .action-icon:hover {
              &:before {
                color: @greenBGDark;
              }
            }
          }
          .selection-button {
            .selection-icon {
              &:before {
                font-size: 22px;
                color: @grayBorderLighter;
              }
              &.selected {
                &:before {
                  color: @greenBGDark;
                }
              }
            }
          }

        }
      }
    }
  }

}
