<div class="jf-table-top clearfix">

	<div class="counter-and-filter-wrapper">
		<div ng-if="!jfTableTop.tableView.options.noCount" class="table-counter">{{ jfTableTop.tableView.getTotalRecords() }}<span ng-if="jfTableTop.tableView.getSelectedRecords()"> ({{jfTableTop.tableView.getSelectedRecords()}} Selected)</span></div>
		<div class="jf-table-filter">
			<input class="input-text"
			       ng-disabled="jfTableTop.isFilterDisabled()"
			       ng-model="jfTableTop.tableView.tableFilter"
			       ng-model-options="{debounce: { 'default': 500 } }"
			       ng-change="jfTableTop.tableView.onUpdateFilter()"
			       ng-class="{'no-results': jfTableTop.tableView.noFilterResults}"
			       placeholder="Filter"
			       ng-init="jfTableTop.tableView.initFilter()"
			       jf-tooltip="{{!jfTableTop.tableView.options.tooltipFilterDisabled ? jfTableTop.tableView.options.getFilterTooltip() : ''}}">
		</div>
	</div>

	<div class="batch-actions-wrapper">
		<jf-table-view-batch-actions table-options="jfTableTop.tableView.options"
		                             actions="jfTableTop.tableView.options.batchActions"></jf-table-view-batch-actions>
	</div>

	<div class="pagination-controls">
		<jf-drag-drop-pagination pagination-api="jfTableTop.tableView.paginationApi"
		                         ng-if="jfTableTop.tableView.paginationApi && jfTableTop.tableView.options.paginationVisible">
		</jf-drag-drop-pagination>
	</div>

</div>
