<div class="jf-table-row"
     ng-mousemove="jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.resizableColumns && jfTableRow.onMouseMove($event)"
     ng-mousedown="jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.resizableColumns && jfTableRow.onMouseDown($event)"
     ng-mouseup="jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.resizableColumns && jfTableRow.onMouseUp($event)"
     ng-mouseleave="jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.resizableColumns && jfTableRow.onMouseUp($event)"
     ng-click="jfTableRow.onRowClick($event)"
     ng-class="{headers: jfTableRow.rowId === 'headers', 'group-header': jfTableRow.data.$groupHeader, 'expanded': jfTableRow.data.$groupHeader.$expanded, 'sub-row': jfTableRow.data.$parentRow, sticky: jfTableRow.data.$sticky, selected: jfTableRow.data.$selected, 'drag-mark': jfTableRow.rowId !== 'headers' && jfTableRow.tableView.options.draggableRows && !(jfTableRow.tableView.options.registeredTabularDnd.dndCtrl.disabled) && jfTableRow.isRowDraggable(), [jfTableRow.data[jfTableRow.tableView.options.rowClassAttr]]: jfTableRow.tableView.options.rowClassAttr && jfTableRow.data[jfTableRow.tableView.options.rowClassAttr]}"
     ng-style="{height: jfTableRow.rowId === 'headers' ? '' : jfTableRow.tableView.options.rowHeight, opacity: jfTableRow.tableView.options.ready ? 1 : 0}">

    <div class="jf-table-cell selection"
         ng-class="{'single-selection' : jfTableRow.tableView.options.selectionMode === jfTableRow.tableView.options.SINGLE_SELECTION}"
         ng-style="{height: jfTableRow.tableView.options.rowHeight, width: jfTableRow.tableView.options.selectionColumnWidth + 'px'}"
         ng-if="jfTableRow.tableView.options.hasSelection()">
        <div class="jf-table-cell-content">
            <div class="selection-button"
                 ng-if="(!jfTableRow.data.$groupHeader && jfTableRow.rowId !== 'headers') || (jfTableRow.tableView.options.selectionMode === jfTableRow.tableView.options.MULTI_SELECTION && jfTableRow.tableView.options.getRawData().length)"
                 ng-style="{height: jfTableRow.tableView.options.rowHeight, width: jfTableRow.tableView.options.selectionColumnWidth +'px'}">
                <div class="selection-icon icon icon-datagrid-v"
                     ng-class="{selected: jfTableRow.data.$selected || (jfTableRow.rowId === 'headers' && jfTableRow.tableView.allSelected)}"
                     ng-click="jfTableRow.toggleSelection(jfTableRow.rowId === 'headers');$event.stopPropagation();">
                </div>
            </div>
        </div>
    </div>

    <div class="jf-table-cell group-header"
         ng-if="jfTableRow.data.$groupHeader"
         ng-style="{height: jfTableRow.rowId === 'headers' ? '' : jfTableRow.tableView.options.rowHeight}">
        <div class="action-icon icon icon-more"
             ng-class="{'expanded': jfTableRow.data.$groupHeader.$expanded}"></div>
        <div class="jf-table-cell-content group-header"
             ng-if="!jfTableRow.data.$groupHeader.col.cellTemplate">
            {{jfTableRow.data.$groupHeader.value}}
        </div>

        <div class="jf-table-cell-content group-header"
             ng-if="jfTableRow.data.$groupHeader.col.cellTemplate">
            <jf-table-compiled-cell field="jfTableRow.data.$groupHeader.field"
                                    row-id="jfTableRow.rowId"
                                    table-row="jfTableRow">
            </jf-table-compiled-cell>
        </div>
       <div class="group-header-count">({{jfTableRow.data.$groupHeader.count}})</div>
    </div>

    <div class="jf-table-cell"
         ng-if="!jfTableRow.data.$groupHeader"
         ng-class="{header: jfTableRow.rowId === 'headers' && col.header, sortable: jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.sortable && jfTableRow.tableView.options.getRawData().length && col.sortable && !jfTableRow.hoveringResize, 'column-resizer': jfTableRow.hoveringResize, ['drag-right']: col.$dragRightBorder, ['drag-left']: col.$dragLeftBorder, ['field-id-' + jfTableRow.kebab(col.field)]: true, ['row-expander-cell']: $index === 0 && jfTableRow.tableView.options.subRowsEnabled}"
         ng-click="jfTableRow.onClickCell(col,$event)"
         ng-style="{height: jfTableRow.rowId === 'headers' ? jfTableRow.tableView.options.headerRowHeight : jfTableRow.tableView.options.rowHeight, width: col.width}"
         ng-repeat="col in jfTableRow.tableView.options.columns">
        <div class="row-expander"
             ng-class="{placeholder: (!(jfTableRow.data.$subRows && jfTableRow.data.$subRows.length) && !jfTableRow.data.$parentRow), 'sub-row-expander': jfTableRow.data.$parentRow}"
             ng-if="$index === 0 && jfTableRow.tableView.options.subRowsEnabled"
             ng-style="{height: jfTableRow.tableView.options.rowHeight}"
             ng-click="jfTableRow.toggleExpansion($event)">
            <i ng-if="jfTableRow.data.$subRows && jfTableRow.data.$subRows.length"
               class="action-icon icon icon-addons-arrow-right"
               ng-class="{'expanded': jfTableRow.data.$expanded}"></i>
        </div>
        <div class="jf-table-cell-content"
             ng-class="{'row-expander-content': $index === 0 && jfTableRow.tableView.options.subRowsEnabled}"
             ng-style="{'text-align': col.textAlign || 'auto'}"
             jf-tooltip-on-overflow
             ng-if="(!col.cellTemplate && jfTableRow.rowId !== 'headers') || (!col.headerCellTemplate && jfTableRow.rowId === 'headers')">
            {{jfTableRow.getField(col.field)}}
            <i ng-if="jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.sortable && (jfTableRow.tableView.options.sortByField === col.field || jfTableRow.tableView.options.showSortingArrowsAlways) && col.sortable && jfTableRow.tableView.options.getRawData().length && (col.header || col.headerCellTemplate)"
               class="icon sorting-icon"
               ng-class="{'icon-down-arrow': jfTableRow.tableView.options.revSort && jfTableRow.tableView.options.sortByField === col.field, 'icon-up-arrow': !jfTableRow.tableView.options.revSort || (jfTableRow.tableView.options.sortByField !== col.field && jfTableRow.tableView.options.showSortingArrowsAlways), active: jfTableRow.tableView.options.sortByField === col.field}"></i>
            <div class="group-button-wrapper" ng-if="jfTableRow.rowId === 'headers' && col.allowGrouping">
                <div class="group-button icon-grouping-off"
                     ng-class="{'icon-grouping-on': jfTableRow.tableView.options.groupedBy === col.field}"
                     ng-click="jfTableRow.tableView.options.groupBy(col.field); $event.stopPropagation();"
                     ></div>
            </div>
        </div>
        <div class="jf-table-cell-content"
             ng-class="{'drag-mark': $index === 0 && jfTableRow.rowId !== 'headers' && jfTableRow.tableView.options.draggableRows}"
             ng-style="{'text-align': col.textAlign || 'auto'}"
             ng-if="(col.cellTemplate && jfTableRow.rowId !== 'headers') || (col.headerCellTemplate && jfTableRow.rowId === 'headers')">
            <jf-table-compiled-cell field="col.field"
                                    row-id="jfTableRow.rowId"
                                    table-row="jfTableRow">
            </jf-table-compiled-cell>
            <i ng-if="jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.sortable && (jfTableRow.tableView.options.sortByField === col.field || jfTableRow.tableView.options.showSortingArrowsAlways) && col.sortable && jfTableRow.tableView.options.getRawData().length && (col.header || col.headerCellTemplate)"
               class="icon sorting-icon"
               ng-class="{'icon-down-arrow': jfTableRow.tableView.options.revSort && jfTableRow.tableView.options.sortByField === col.field, 'icon-up-arrow': !jfTableRow.tableView.options.revSort || (jfTableRow.tableView.options.sortByField !== col.field && jfTableRow.tableView.options.showSortingArrowsAlways), active: jfTableRow.tableView.options.sortByField === col.field}"></i>
            <div class="group-button-wrapper" ng-if="jfTableRow.rowId === 'headers' && col.allowGrouping">
                <div class="group-button icon-grouping-off"
                     ng-class="{'icon-grouping-on': jfTableRow.tableView.options.groupedBy === col.field}"
                     ng-click="jfTableRow.tableView.options.groupBy(col.field); $event.stopPropagation();"
                ></div>
            </div>
        </div>
    </div>

    <div class="jf-table-cell actions"
         ng-style="{height: jfTableRow.rowId === 'headers' ? '' : jfTableRow.tableView.options.rowHeight, width: ((jfTableRow.tableView.options.actions.length <= 3 ? jfTableRow.tableView.options.actions.length : 1) * jfTableRow.tableView.options.actionButtonSize) + 'px'}"
         ng-if="jfTableRow.rowId !== 'headers' && jfTableRow.tableView.options.actions.length && !jfTableRow.data.$groupHeader">
        <div class="jf-table-cell-content">
            <div class="action-button"
                 ng-style="{height: jfTableRow.tableView.options.rowHeight, width: jfTableRow.tableView.options.actionButtonSize + 'px', visibility: !action.visibleWhen || action.visibleWhen(jfTableRow.data) ? 'visible' : 'hidden'}"
                 ng-if="jfTableRow.tableView.options.actions.length <= 3"
                 ng-repeat="action in jfTableRow.tableView.options.actions">
                <div class="action-icon"
                     ng-click="jfTableRow.fireAction(action);$event.stopPropagation();"
                     ng-if="!action.href"
                     jf-tooltip="{{action.tooltip}}"
                     ng-class="action.icon"></div>
                <a ng-click="jfTableRow.fireAction(action);$event.stopPropagation();"
                   ng-if="action.href"
                   jf-tooltip="{{action.tooltip}}"
                   ng-href="{{action.href(jfTableRow.data)}}">
                    <div class="action-icon" ng-class="action.icon"></div>
                </a>
            </div>
            <div class="action-button"
                 ng-style="{height: jfTableRow.tableView.options.rowHeight, width: jfTableRow.tableView.options.actionButtonSize + 'px', visibility: jfTableRow.tableView.options.hasVisibleActionsFor(jfTableRow.data) ? 'visible' : 'hidden'}"
                 ng-if="jfTableRow.tableView.options.actions.length > 3 && jfTableRow.tableView.options">
                <div class="action-icon icon-more"
                     ng-click="jfTableRow.toggleActionsDropdown($event)"
                     jf-tooltip="Actions"></div>
            </div>
        </div>
    </div>
    <div class="columns-customization-icon"
         ng-click="jfTableRow.tableView.options.toggleColumnsCustomizationDropdown()"
         ng-if="jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.columnsCustomization">
        <i class="icon-menu-arrow"></i>
    </div>

    <div class="row-actions-dropdown" ng-if="jfTableRow.actionsDropdownOpen">
        <div ng-repeat="action in jfTableRow.tableView.options.actions"
             ng-if="!action.visibleWhen || action.visibleWhen(jfTableRow.data)"
             ng-click="jfTableRow.fireAction(action);$event.stopPropagation();jfTableRow.actionsDropdownOpen=false;"
             class="action-item" icon-name="{{action.icon || ''}}">
            <i class="action-icon"
                 ng-if="!action.href"
                 ng-class="action.icon"></i>
            <span>{{action.tooltip}}</span>
        </div>
    </div>

</div>