<div class="jf-table-row"
     ng-click="jfTableRow.data.$groupHeader && jfTableRow.toggleGroupExpansion()"
     ng-class="{headers: jfTableRow.rowId === 'headers', 'group-header': jfTableRow.data.$groupHeader, 'expanded': jfTableRow.data.$groupHeader.$expanded}"
     ng-style="{height: jfTableRow.tableView.options.rowHeight, opacity: jfTableRow.tableView.options.ready ? 1 : 0}">

    <div class="jf-table-cell selection"
         ng-style="{height: jfTableRow.tableView.options.rowHeight, width: jfTableRow.tableView.options.selectionColumnWidth}"
         ng-if="jfTableRow.tableView.options.hasSelection()">
        <div class="jf-table-cell-content">
            <div class="selection-button"
                 ng-if="jfTableRow.rowId !== 'headers' || (jfTableRow.tableView.options.selectionMode === jfTableRow.tableView.options.MULTI_SELECTION && jfTableRow.tableView.options.getData().length)"
                 ng-style="{height: jfTableRow.tableView.options.rowHeight, width: jfTableRow.tableView.options.selectionColumnWidth}">
                <div class="selection-icon icon icon-datagrid-v"
                     ng-class="{selected: jfTableRow.data.$selected || (jfTableRow.rowId === 'headers' && jfTableRow.tableView.allSelected)}"
                     ng-click="jfTableRow.toggleSelection(jfTableRow.rowId === 'headers')">
                </div>
            </div>
        </div>
    </div>

    <div class="jf-table-cell group-header"
         ng-if="jfTableRow.data.$groupHeader"
         ng-style="{height: jfTableRow.tableView.options.rowHeight}">
        <div class="action-icon icon icon-more"
             ng-class="{'expanded': jfTableRow.data.$groupHeader.$expanded}"></div>
        <div class="jf-table-cell-content group-header"
             ng-if="!jfTableRow.data.$groupHeader.col.cellTemplate">
            {{jfTableRow.data.$groupHeader.value}}
        </div>
        <div class="jf-table-cell-content group-header compile-this"
             ng-if="jfTableRow.data.$groupHeader.col.cellTemplate"
             data-column="{{jfTableRow.data.$groupHeader.field}}"
             data-row="{{jfTableRow.rowId}}">
        </div>
    </div>
    <div class="jf-table-cell"
         ng-if="!jfTableRow.data.$groupHeader"
         ng-class="{header: jfTableRow.rowId === 'headers' && col.header, sortable: jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.sortable, [jfTableRow.kebab(col.field)]: true}"
         ng-click="jfTableRow.rowId === 'headers' && col.header && jfTableRow.tableView.options.sortable && jfTableRow.tableView.options.sortBy(col.field)"
         ng-style="{height: jfTableRow.tableView.options.rowHeight, width: col.width}"
         ng-repeat="col in jfTableRow.tableView.options.columns">
        <div class="jf-table-cell-content"
             jf-tooltip-on-overflow
             ng-if="!col.cellTemplate || jfTableRow.rowId === 'headers'">
            {{jfTableRow.getField(col.field)}}
            <div class="group-button-wrapper">
                <div class="group-button icon-grouping-off"
                     ng-class="{'icon-grouping-on': jfTableRow.tableView.options.groupedBy === col.field}"
                     ng-click="jfTableRow.tableView.options.groupBy(col.field); $event.stopPropagation();"
                     ng-if="col.allowGrouping"></div>
            </div>
        </div>
        <div class="jf-table-cell-content compile-this"
             jf-tooltip-on-overflow
             ng-if="col.cellTemplate && jfTableRow.rowId !== 'headers'"
             data-column="{{col.field}}"
             data-row="{{jfTableRow.rowId}}">
        </div>
    </div>

    <div class="jf-table-cell actions"
         ng-style="{height: jfTableRow.tableView.options.rowHeight, width: jfTableRow.tableView.options.actions.length * jfTableRow.tableView.options.actionButtonSize}"
         ng-if="jfTableRow.rowId !== 'headers' && jfTableRow.tableView.options.actions.length && !jfTableRow.data.$groupHeader">
        <div class="jf-table-cell-content">
            <div class="action-button"
                 ng-style="{height: jfTableRow.tableView.options.rowHeight, width: jfTableRow.tableView.options.actionButtonSize, visibility: !action.visibleWhen || action.visibleWhen(jfTableRow.data) ? 'visible' : 'hidden'}"
                 ng-repeat="action in jfTableRow.tableView.options.actions">
                <div class="action-icon"
                     ng-click="jfTableRow.fireAction(action);$event.stopPropagation();"
                     jf-tooltip="{{action.tooltip}}"
                     ng-class="action.icon"></div>
            </div>
        </div>
    </div>

</div>