<div class="jf-table-row"
     ng-class="{headers: jfTableRow.rowId === 'headers'}"
     ng-style="{height: jfTableRow.tableView.options.rowHeight, opacity: jfTableRow.tableView.options.ready ? 1 : 0}">
    <div class="jf-table-cell"
         ng-class="{header: jfTableRow.rowId === 'headers' && col.header, sortable: jfTableRow.rowId === 'headers' && jfTableRow.tableView.options.sortable, [jfTableRow.kebab(col.field)]: true}"
         ng-click="jfTableRow.rowId === 'headers' && col.header && jfTableRow.tableView.options.sortable && jfTableRow.tableView.options.sortBy(col.field)"
         ng-style="{height: jfTableRow.tableView.options.rowHeight, width: col.width}"
         ng-repeat="col in jfTableRow.tableView.options.columns">
        <div class="jf-table-cell-content"
             jf-tooltip-on-overflow
             ng-if="!col.cellTemplate || jfTableRow.rowId === 'headers'">
            {{jfTableRow.data[col.field]}}
        </div>
        <div class="jf-table-cell-content compile-this"
             jf-tooltip-on-overflow
             ng-if="col.cellTemplate && jfTableRow.rowId !== 'headers'"
             data-column="{{col.field}}"
             data-row="{{jfTableRow.rowId}}">
        </div>
    </div>
</div>