<div class="jf-table-view" style="clear: both">

    <div class="new-entity-wrapper">
        <a href class="new-entity"
           ng-click="jfTableView.createNewEntity()"
           ng-if="jfTableView.options.newEntityCallback">
            <i class="icon icon-new"></i> <span ng-if="!jfTableView.options.newEntityCustomText">Add {{jfTableView.options.useAnWithObjectName ? 'an' : 'a'}} {{jfTableView.objectName ? jfTableView.objectName.split('/')[0] : jfTableView.options.objectName ? jfTableView.options.objectName.split('/')[0] : 'Item'}}</span>
            <span ng-if="jfTableView.options.newEntityCustomText">{{jfTableView.options.newEntityCustomText}}</span>
        </a>
    </div>

    <jf-table-top table-view="jfTableView"></jf-table-top>

    <div class="columns-customization-wrap"
         ng-if="jfTableView.options.columnsCustomization">
        <div class="columns-customization pull-right">
            <jf-multi-dropdown title="Columns"
                               no-filter="true"
                               filter-placeholder="Filter Columns"
                               items="jfTableView.options.availableColumns"
                               on-change="jfTableView.options.updateCustomizedColumns()"></jf-multi-dropdown>
        </div>
    </div>

    <div class="jf-table-view-container" ng-if="jfTableView.options">
        <div class="jf-table-view-header"
             ng-if="jfTableView.options.headersVisible">
            <jf-table-row table-view="jfTableView"
                          row-id="'headers'"
                          data="jfTableView.options.headersRow"></jf-table-row>
        </div>


        <div ng-if="jfTableView.options.paginationMode === jfTableView.options.VIRTUAL_SCROLL || jfTableView.options.paginationMode === jfTableView.options.INFINITE_VIRTUAL_SCROLL"
             class="table-rows-container"
             ng-style="{height: jfTableView.getActualPageHeight() + 'px'}">
            <jf-vscroll with-each="entity" in="jfTableView.options.getPrePagedData()" api="jfTableView.vsApi">
                <div ng-non-bindable>
                    <div ng-if="$is_last() && jfTableView.options && jfTableView.options.pendingInfiniteScroll && jfTableView.options.paginationMode === jfTableView.options.INFINITE_VIRTUAL_SCROLL"
                         ng-style="{height: jfTableView.options.rowHeight}" class="loading-more">
                        <div class="spinner-msg-local">
                            <div class="icon-hourglass-local"></div>
                        </div>
                    </div>
                    <jf-table-row ng-if="!$is_last() || !jfTableView.options || !jfTableView.options.pendingInfiniteScroll || jfTableView.options.paginationMode !== jfTableView.options.INFINITE_VIRTUAL_SCROLL"
                                  table-view="jfTableView"
                                  row-id="$index"
                                  data="entity"></jf-table-row>
                </div>
            </jf-vscroll>
        </div>

        <div ng-if="jfTableView.options.paginationMode !== jfTableView.options.VIRTUAL_SCROLL && jfTableView.options.paginationMode !== jfTableView.options.INFINITE_VIRTUAL_SCROLL"
             class="table-rows-container">
            <jf-table-row ng-repeat="entity in jfTableView.options.getPageData() track by $index"
                          table-view="jfTableView"
                          row-id="$index"
                          data="entity"></jf-table-row>
        </div>

        <div class="empty-table-placeholder"
             ng-style="jfTableView.options.registeredTabularDnd.emptyTableStyle"
             ng-if="jfTableView.options.dataWasSet && !jfTableView.options.getRawData().length && !jfTableView.options.pendingExternalPaging && (!jfTableView.options.externalTotalCount || jfTableView.options.externalTotalCount.total === 0)">
            {{jfTableView.options.emptyTableText || 'There is no data to display'}} <a href class="jf-link" ng-if="jfTableView.options.emptyTableAction && jfTableView.options.emptyTableCallActionText"
                                                                                 ng-click="jfTableView.options.emptyTableAction()">{{jfTableView.options.emptyTableCallActionText}}</a>
        </div>
        <div class="empty-table-placeholder filter-no-results"
             ng-if="jfTableView.noFilterResults">
            {{jfTableView.options.noFilterResultsText || 'Current filter has no results.'}} <a href class="jf-link" ng-if="jfTableView.tableFilter" ng-click="jfTableView.clearFilter()">Clear filter</a>
        </div>
        <div ng-if="jfTableView.options.pendingInfiniteScroll && jfTableView.options.paginationMode !== jfTableView.options.INFINITE_VIRTUAL_SCROLL"
             ng-style="{height: jfTableView.options.rowHeight}"
             class="loading-more">
            <div class="spinner-msg-local">
                <div class="icon-hourglass-local"></div>
            </div>
        </div>

    </div>


</div>
