<div class="jf-switch">
    <span ng-if="jfSwitch.jfSwitchTitle" class="jf-switch-title">{{jfSwitch.jfSwitchTitle}}</span>
    <jf-help-tooltip ng-if="jfSwitch.helpTooltip"
                     html="jfSwitch.helpTooltip"></jf-help-tooltip>
    <ul class="jf-switch-options">
        <li ng-repeat="option in jfSwitch.optionObjects">
            <a class="jf-switch-option"
               href=""
               ng-click="jfSwitch.selectOption(option)"
               ng-class="{active: jfSwitch.isSelected(option), disabled: jfSwitch.disabled}">{{option.text}}</a>
        </li>
    </ul>
</div>