<div class="modal-header">
    <button type="button" class="close" data-dismiss="close" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-bind-html="title"></h4>
</div>
<div class="modal-body">
    <p ng-if="beforeMessage" ng-bind-html="beforeMessage"></p>

    <div class="codemirror-wrapper">
	    <jf-clip-copy text-to-copy="content"
	                  class="code-mirror-copy"
	                  show-copy-text="true"
	                  object-name="{{objectName || 'Content'}}"></jf-clip-copy>
	    <jf-code-mirror
			    mime-type="{{mode.name}}"
			    model="content">
	    </jf-code-mirror>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-default" ng-click="closeModal()">Close</button>
    </div>
</div>
