<div class="wizard-modal{{' ' + $wizardDef.steps[$wizardCtrl.currentStep-1].class}}">
    <div class="modal-header">
        <span ng-if="$wizardDef.cancelable" class="icon icon-clear" ng-click="$wizardCtrl.cancel()"></span>
        <div class="title-wrapper" ng-class="{'no-border' : $wizardDef.steps[$wizardCtrl.currentStep-1].hideTitleBorder}">
            <div class="icon" ng-if="$wizardDef.steps[$wizardCtrl.currentStep-1].icon">
                <img ng-src="{{$wizardDef.steps[$wizardCtrl.currentStep-1].icon}}" alt="">
            </div>
            <div class="title">
                <h1 ng-if="$wizardDef.steps[$wizardCtrl.currentStep-1].name">{{$wizardDef.steps[$wizardCtrl.currentStep-1].name}}</h1>
                <div class="description" ng-if="$wizardDef.steps[$wizardCtrl.currentStep-1].description" ng-bind-html="$wizardDef.steps[$wizardCtrl.currentStep-1].description"></div>
            </div>
        </div>
    </div>
    <div class="modal-body clearfix">
        <ng-include src="$wizardDef.steps[$wizardCtrl.currentStep-1].templateUrl"></ng-include>
    </div>
    <div class="modal-footer" jf-disable-ng-animate>
        <div class="progress-indicator">
            <div class="progress-indicator-led"
                 ng-class="{current: $index === $wizardCtrl.currentStep-1}"
                 ng-repeat="led in $wizardDef.steps"></div>
        </div>

<!--
        <button ng-if="$wizardDef.cancelable"
                class="btn btn-default"
                ng-click="$wizardCtrl.cancel()"
                ng-disabled="$wizardCtrl.pending"
                id="wizard-popup-cancel">Cancel</button>
-->

        <div class="modal-footer-buttons-container">
            <div ng-if="!$wizardDef.steps[$wizardCtrl.currentStep-1].customButtons">
                <button ng-if="$wizardCtrl.currentStep > 1 && $wizardDef.steps[$wizardCtrl.currentStep-2].supportReturnTo !== false"
                        class="btn"
                        ng-click="$wizardCtrl.prevStep()"
                        ng-disabled="$wizardCtrl.pending"
                        id="wizard-popup-prev">Back</button>
                <button ng-if="$wizardCtrl.currentStep < $wizardCtrl.totalSteps && $wizardDef.steps[$wizardCtrl.currentStep-1].skippable"
                        class="btn"
                        ng-click="$wizardCtrl.nextStep(true)"
                        ng-disabled="$wizardCtrl.pending"
                        id="wizard-popup-skip">Skip</button>
                <button ng-if="$wizardCtrl.currentStep < $wizardCtrl.totalSteps"
                        ng-disabled="$wizardCtrl.pending || !$wizardCtrl.$userCtrl.isStepCompleted($wizardDef.steps[$wizardCtrl.currentStep-1])"
                        class="btn"
                        ng-click="$wizardCtrl.nextStep()"
                        id="wizard-popup-next">Next</button>
                <button ng-if="$wizardCtrl.currentStep === $wizardCtrl.totalSteps"
                        ng-disabled="$wizardCtrl.pending || (!$wizardCtrl.$userCtrl.isStepCompleted($wizardDef.steps[$wizardCtrl.currentStep-1]) && !$wizardDef.steps[$wizardCtrl.currentStep-1].skippable)"
                        class="btn"
                        ng-click="$wizardCtrl.finish()"
                        id="wizard-popup-finish">Finish</button>
            </div>
            <div ng-if="$wizardDef.steps[$wizardCtrl.currentStep-1].customButtons">
                <span ng-repeat="button in $wizardDef.steps[$wizardCtrl.currentStep-1].customButtons">
                    <button ng-if="button.action==='back' && ($wizardCtrl.currentStep > 1 && $wizardDef.steps[$wizardCtrl.currentStep-2].supportReturnTo !== false)"
                            class="btn"
                            ng-click="$wizardCtrl.prevStep()"
                            ng-disabled="$wizardCtrl.pending"
                            id="wizard-popup-prev-custom">{{button.label}}</button>
                    <button ng-if="button.action==='skip' && ($wizardCtrl.currentStep < $wizardCtrl.totalSteps && $wizardDef.steps[$wizardCtrl.currentStep-1].skippable"
                            class="btn"
                            ng-click="$wizardCtrl.nextStep(true)"
                            ng-disabled="$wizardCtrl.pending"
                            id="wizard-popup-skip-custom">{{button.label}}</button>
                    <button ng-if="button.action==='next' && ($wizardCtrl.currentStep < $wizardCtrl.totalSteps)"
                            ng-disabled="$wizardCtrl.pending || !$wizardCtrl.$userCtrl.isStepCompleted($wizardDef.steps[$wizardCtrl.currentStep-1])"
                            class="btn"
                            ng-click="$wizardCtrl.nextStep()"
                            id="wizard-popup-next-custom">{{button.label}}</button>
                    <button ng-if="button.action==='finish' && ($wizardCtrl.currentStep === $wizardCtrl.totalSteps)"
                            ng-disabled="$wizardCtrl.pending || (!$wizardCtrl.$userCtrl.isStepCompleted($wizardDef.steps[$wizardCtrl.currentStep-1]) && !$wizardDef.steps[$wizardCtrl.currentStep-1].skippable)"
                            class="btn"
                            ng-click="$wizardCtrl.finish()"
                            id="wizard-popup-finish-custom">{{button.label}}</button>

                    <button ng-if="$wizardCtrl.isFunction(button.action)"
                            ng-disabled="button.isDisabled && button.isDisabled()"
                            class="btn"
                            ng-click="button.action()"
                            id="wizard-popup-custom-button">{{button.label}}</button>
                </span>
            </div>
        </div>
    </div>
</div>
