<div class="jf-markup-editor"
     ng-class="{'has-editor-label':jfMarkup.editorLabel}"
     ng-if="jfMarkup.webworkerOk || jfMarkup.previewersCount === 2">
    <div class="controls">
        <div class="editor-label"
             ng-if="jfMarkup.editorLabel"
             ng-class="{'editor-label-position':jfMarkup.isInEditMode()}">
            {{jfMarkup.editorLabel}}
        </div>
        <div class="lang-select-wrapper"
             ng-if="jfMarkup.showControls && jfMarkup.editable">
            <jf-ui-select class="form-group-cell"
                          jf-select-disabled="!jfMarkup.isInEditMode()"
                          jf-select-model="jfMarkup.language"
                          jf-select-change="jfMarkup.onLanguageChange()"
                          jf-select-options="['Markdown','Asciidoc','Plain Text']">
            </jf-ui-select>
        </div>
        <div class="switch-wrapper"
             ng-if="jfMarkup.showControls">
            <jf-switch ng-model="jfMarkup.mode"
                       ng-change="jfMarkup.onChangeModeInternal()"
                       options="jfMarkup.modeOptions"
                       controller="jfMarkup.switchController"
                       class="no-margin-top">
            </jf-switch>
        </div>
        <button class="btn btn-default edit-button"
                type="button"
                ng-if="!jfMarkup.showControls && jfMarkup.editable"
                ng-click="jfMarkup.activateEditor()">
            <span ng-if="jfMarkup.markup && jfMarkup.markup.length > 0">
                <i class="icon icon-edit-pen"></i>
                <span>Edit</span>
            </span>
            <span ng-if="!jfMarkup.markup || jfMarkup.markup.length === 0">
                <i class="icon icon-new"></i>
                <span>Add</span>
            </span>
        </button>
    </div>

    <div class="code-mirror-wrapper codemirror-wrapper"
         jf-disable-ng-animate
         ng-if="jfMarkup.isInEditMode()">
        <jf-clip-copy ng-if="jfMarkup.markup && jfMarkup.markup.length"
                      class="code-mirror-copy pull-right"
                      text-to-copy="jfMarkup.markup"
                      object-name="text">
        </jf-clip-copy>
        <jf-code-mirror
                ng-if="jfMarkup.language === 'Markdown'"
                mime-type="text/x-markdown"
                mode="gfm"
                allow-edit="true"
                height="100%"
                autofocus="{{ !jfMarkup.preventAutoFocus }}"
                model="jfMarkup.markup">
        </jf-code-mirror>
        <jf-code-mirror
                ng-if="jfMarkup.language === 'Asciidoc'"
                mime-type="text/x-markdown"
                mode="asciidoc"
                allow-edit="true"
                height="100%"
                autofocus="{{ !jfMarkup.preventAutoFocus }}"
                model="jfMarkup.markup">
        </jf-code-mirror>
        <jf-code-mirror
                ng-if="jfMarkup.language === 'Plain Text'"
                allow-edit="true"
                height="100%"
                autofocus="{{ !jfMarkup.preventAutoFocus }}"
                model="jfMarkup.markup">
        </jf-code-mirror>
        <button ng-if="jfMarkup.onSave"
                ng-click="jfMarkup.onSaveClick()"
                class="btn btn-primary save-button pull-right">
            Save
        </button>
        <button ng-if="!jfMarkup.hideCancelButton"
                ng-click="jfMarkup.onCancel()"
                class="btn btn-secondary clancel-button pull-right">
            Cancel
        </button>
    </div>

    <div class="preview-wrapper"
         jf-disable-ng-animate
         ng-if="!jfMarkup.isInEditMode()">
        <div class="preview" ng-class="{'empty-preview': !jfMarkup.preview || jfMarkup.preview.length === 0}"
             ng-bind-html="jfMarkup.preview">
        </div>
        <div class="no-markup" ng-if="!jfMarkup.preview">
            <span>No markup available.</span>&nbsp
            <a class="jf-link" ng-if="!jfMarkup.showControls && jfMarkup.editable" ng-click="jfMarkup.activateEditor()">
                Add markup.
            </a>
        </div>
    </div>

</div>

