.jf-markup-editor {
  position: relative;
  .flat-icon {
    float: right;
    margin-right: 2px;
  }
  .controls {
    position: relative;
    margin-bottom: 10px;
    .switch-wrapper {
      float: right;
      .jf-switch {
        .jf-switch-options {

        }
      }
    }

    .lang-select-wrapper {
      max-width: 150px;
    }
    & > button {
      float: right;
    }
  }
  .preview-wrapper,
  .code-mirror-wrapper {
    width: 100%;
    clear: both;
  }
  .code-mirror-wrapper {
    button.btn{
      margin-top: 20px;
      &.clear-button{
        margin-right: 15px;
      }
    }
  }
  .preview-wrapper {
    overflow: auto;
    border: 1px solid #eee;
    padding: 15px;
  }
}