.action-button {
  padding: 0 8px !important;
  font-size: 15px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

  a {
    color: @jfColorBlack;
    text-decoration: none;
  }

  & > a > .action-icon, .actions-more .action-icon {
    position: relative;
    margin-right: 1px;
    font-size: 16px;
    top: 2px;
  }
  .action-icon {
    img {
      width: 25px;
      height: 25px;
      vertical-align: sub;
    }
  }
}

.action-button, .action-item {
  &.disabled {
    a {
      color: @darkGray !important;
      span.action-name,
      span.action-icon:before,
      i.action-icon:before {
        color: @darkGray !important;
      }
    }
  }
}


jf-actions {
  display: inline-block;
  ul.list-inline {
    li {
      padding: 0 0 0 5px !important;
      margin: 0;
    }
  }
  .actions-dropdown {
    .action-item {
      &.menu-item-no-icon {
        .action-name {margin: 0 24px;}
      }
      &.menu-item-no-action-icons {
        padding: 0 14px 0 14px!important;
      }
      &:first-child:after {
        right: 30px;
      }
      &.bordered {
        border-top: 1px solid @grayBorderLighter;
      }
      &.bordered + .bordered {
        border: none;
      }
    }
    .action-name {
      color: @blackFontDark;
      font-weight: 500;
    }
    &:after {
      display: none;
    }
    li:hover {
      background: @grayBGLight !important;
    }
  }
  .action-icon.icon-more {
    margin-left: 5px;
    margin-right: 0;
    font-size: 12px;
    top: 0;
    &:before {
      content: 'A' !important;
      transform: rotate(90deg);
      display: inline-block;
    }
  }

  .dropdown {
    .dropdown-menu {
      display: none;
    }
    &.open {
      .dropdown-menu {
        display: block;
      }
    }
  }
}