.jf-list-selection {
  .grid-pagination {
    margin: 0 !important;
  }
  .not-clickable {
    cursor: default;
  }
  i:first-child.icon {
    padding: 1px 10px 0 5px;
    font-size: 17px;
    line-height: 20px;
  }
  .group-list-wrapper .group-list .group-list-item.highlighted {
    background-color: #f7f7f7!important;
  }
}

