<div class="jf-list-selection">
	<input type="text"
	       ng-model="jfListSelection.filterList"
	       placeholder="Filter..."
	       ng-change="jfListSelection.onFilterChange()"
	       class="input-text dnd-filter">
	<div class="group-list-wrapper">
		<ul class="group-list">
			<li class="group-list-item" style="display: none">*</li>
			<li class="group-list-item cursor-pointer"
			    ng-repeat="item in jfListSelection.getPageItems() track by $index"
			    ng-class="{'not-clickable': !item.clickable, 'highlighted': item.highlighted && jfListSelection.highlightSelected}"
			    ng-dblclick="jfListSelection.onItemClick(item)"
			    ng-click="jfListSelection.allowSingleClick ? jfListSelection.onItemSelection(item) : null"
			    jf-tooltip="{{item.icon_tooltip ? item.icon_tooltip : ''}}">
				<i ng-if="item.icon_class"
				   ng-class="item.icon_class"
				   jf-tooltip="{{item.icon_tooltip ? item.icon_tooltip : ''}}"
				   class="icon pull-left"></i>
				{{item.name}}
				<i class="icon icon-arrow pull-right cursor-pointer"
				   ng-click="jfListSelection.onItemSelection(item)"></i>
			</li>
		</ul>
	</div>
	<div>
		<jf-drag-drop-pagination pagination-api="jfListSelection.paginationApi"></jf-drag-drop-pagination>
	</div>
</div>