.modal {
  overflow: hidden;

  .modal-dialog {
    width: auto !important;
    max-width: 875px;
    margin: 110px auto 0;
  }

  .modal-header {
    padding: 5px 0 3px 35px;
    line-height: 50px;
    background-color: @grayBGLighter;

    .close {
      margin: 0 20px;
      line-height: 50px;
      font-size: 24px;
      font-weight: 300;
      color: @blackFontDark;
      opacity: 1;
      &:hover {
        filter: alpha(opacity=60);
        opacity: 0.6;
      }
    }
  }

  .modal-content {
    border-radius: 0;
  }

  .modal-title {
    color: @blackFontDark;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    padding-top: 2px;
  }

  .modal-body {
    max-height: 575px;
    padding: 20px 30px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  // MODAL FOOTER
  .modal-footer {
    background-color: transparent;
    border-top: 1px solid #f1f1f1;
    margin-top: 0;;
    padding: 20px 30px;
    .progress-indicator {
      width: 50%;
      position: absolute;
      left: 25%;
      top: 35%;
      text-align: center;
      .progress-indicator-led {
        border-radius: 50%;
        display: inline-block;
        margin-right: 6px;
        background: #e6e6e6;
        border: 1px solid #d2d2d2;
        width: 8px;
        height: 8px;
        &.current {
          background: #b8b8b8;
          border-color: #b8b8b8;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .modal-footer-buttons-container {
      margin-top: -3px;
      .btn {
        min-width: 0;
        height: auto;
        line-height: 26px;
        background-color: transparent;
        border: 0;
        transition: none;
        color: #707070;
        &[disabled] {
          color: #c9c9c9;
        }
      }
    }
    .btn {
      font-size: 12px;
      height: 40px;
      &.btn-secondary {
        border: 1px solid @grayBorderLighter;
      }
      & + .btn {
        margin-left: 15px;
      }
    }
  }
}

.wizard-modal {
  .modal-header {
    border-bottom: 0;
    padding: 40px 50px 0px 50px;
    .close {
      margin: -43px -32px;
    }
    .step-icon {
      display: inline-block;
      margin-right: 40px;
      vertical-align: top;
      &:before {
        font-size: 5.45em !important;
      }
    }
    .step-header {
      display: inline-block;
      width: 80%;
      .step-title {
        font-weight: 700;
        font-size: 35px;
      }
      .step-description {
        font-size: 16px;
        font-weight: 600;
        line-height: 28px
      }
    }
  }
  .modal-body {
    clear: both;
    height: 380px;
    padding: 0 50px 0 50px;
  }
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 60px;
    .modal-footer-buttons-container {
      position: absolute;
      right: 25px;
    }
  }
}
