.modal {
  overflow: hidden;

  .modal-dialog{
    width: auto !important;
    max-width: 875px;
    margin: 70px auto;
  }
  
  .modal-header {
    padding: 0 0 0 35px;
    line-height: 50px;

    .close {
      margin: 0 20px;
      line-height: 50px;
      font-size: 26px;
    }
  }

  .modal-content {
    border-radius: 0;
  }

  .modal-title {
    color: @blueMain;
    font-size: 20px;
    font-weight: 400;
    line-height: 48px;
    padding-top: 2px;
  }

  .modal-body {
    max-height: 575px;
    padding: 20px 34px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .modal-footer {
    background: @grayBGLight;
    border-top: 0 none;
  }
}

.copy-to-clip.code-mirror-copy {
  position: absolute;
  z-index: 100;
  right: 54px;
  margin-top: 2px;
}


.wizard-modal {
  .modal-header {
    border-bottom: 0;
    padding: 40px 50px 0px 50px;
    .close {
      margin: -43px -32px;
    }
    .step-icon {
      display: inline-block;
      margin-right: 40px;
      vertical-align: top;
      &:before {
        font-size: 5.45em !important;
      }
    }
    .step-header {
      display: inline-block;
      width: 80%;
      .step-title {
        font-weight: 700;
        font-size: 35px;
      }
      .step-description {
        font-size: 16px;
        font-weight:600;
        line-height: 28px
      }
    }
  }
  .modal-body {
    clear: both;
    height: 380px;
    padding: 0 50px 0 50px;
  }
  .modal-footer {
    position: relative;
    height: 80px;
    .modal-footer-buttons-container {
      position: absolute;
      right: 25px;
    }
    .progress-indicator {
      width: 50%;
      position: absolute;
      left: 25%;
      top: 35%;
      text-align: center;
      .progress-indicator-led {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 4px;
        background-color: darkgrey;
        &.current {
          background-color: dimgrey;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
