#toast-container {
  .toast {
    display: table;
    height: 100px;
    background: #eee !important;
    border-radius: 0;
    color: @grayFontGeneral;
    padding: 0;
    width: 340px;
    opacity: 1;
    filter: alpha(opacity=100);
    clear: both;
    cursor: auto;
    position: relative;
    transition: none !important;
    //transition: transform .2s ease-in !important;



    // animation
    /*&.ng-enter.ng-enter-active, &.ng-leave, &.ng-leave-active {
      transition: none;
    }*/
    /*&.ng-enter.ng-enter-active, &.ng-leave, &.ng-leave-active {
      transition: none !important;
    }*/
    //&.ng-enter, &.ng-leave {
    //  opacity: 1 !important;
    //  transition-duration: .8s !important;
    //}
    //&.ng-enter.ng-enter-active {
    //  opacity: 0 !important;
    //}
    //&.ng-enter {
    //  opacity: 0;
    //}
    //&.ng-enter-active {
    //  opacity: 1;
    //  transition: opacity .3s ease-in;
    //}

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      pointer-events: none;
      .toast-message > div {
        max-height: 0;
        overflow: hidden;
      }
    }
    &:nth-child(2) {z-index: -1; bottom: 70px; transform: scale(0.99);}  // 60-10
    &:nth-child(3) {z-index: -2; bottom: 140px; transform: scale(0.98);} // 120-20
    &:nth-child(4) {z-index: -3; bottom: 210px; transform: scale(0.97);} // 180-30
    &:nth-child(5) {z-index: -4; bottom: 280px; transform: scale(0.96);} // 240-40

    &:nth-child(n+6) {display: none;}

    // notification design
    .toast-message {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
      padding: 20px;
      background-color: #fff;
      transition-duration: .1s !important;
      & > div {
        transition: max-height .3s ease-in-out;
        max-height: 300px;
      }
    }

    .toast-close-button {
      color: @grayFontGeneral;
      position: absolute;
      right: 12px;
      top: 0;
      font-size: 22px;
      font-weight: normal;

      &:hover {
        color: inherit;
      }
    }
    .toast-title {
      display: table-cell;
      background-color: @grayBorderLight;
      width: 80px;
      text-align: center;
      vertical-align: middle;
      padding: 0 25px;

      &::before {
        font-family: "artifactory" !important;
        font-size: 30px;
        font-weight: normal;
      }
    }
    &.toast-success {
      &, & a {
        color: @greenFontHeader;
      }

      .toast-title::before {
        content: ",";
      }
    }
    &.toast-error {
      //      animation: toaster-in 0.5s ease; //, toaster-out 0.5s ease;

      &, & a {
        color: @redError;
      }

      .toast-title::before {
        content: "-";
      }
    }
    &.toast-warning {
      &, & a {
        color: @yellowWarning;
      }

      .toast-title::before {
        content: "{";
      }
    }
    &.toast-info {
      &, & a {
        color: @blueMain;
      }

      .toast-title::before {
        content: "\e002";
      }
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      box-shadow: 0 0 12px #999999;
    }
  }
}
//#toast-container {
//  .toast {
//    display: table;
//    height: 100px;
//    background: #eee !important;
//    border-radius: 0;
//    color: @grayFontGeneral;
//    padding: 0;
//    width: 340px;
//    opacity: 1;
//    filter: alpha(opacity=100);
//    clear: both;
//    cursor: auto;
//    position: relative;
//
//    &.ng-enter, &.ng-leave {
//      opacity: 1 !important;
//      transition-duration: .8s !important;
//    }
//    &.ng-enter.ng-enter-active {
//      opacity: 0 !important;
//    }
//    //&.ng-enter {
//    //  opacity: 1 !important;
//    //  top: -30px !important;
//    //  transition: top .3s ease-in-out !important;
//    //}
//    //&.ng-enter.ng-enter-active {
//    //  opacity: 1 !important;
//    //  top: 0 !important;
//    //}
//    //&.ng-leave {
//    //  transition: opacity .3s ease-out !important;
//    //}
//    //&.ng-leave.ng-leave-active {
//    //  opacity: 1 !important;
//    //  transition: opacity .3s ease-out !important;
//    //}
//
//
//
//
//
//
//    // FROM TOP
//    &:nth-child(2),
//    &:nth-child(3),
//    &:nth-child(4),
//    &:nth-child(5) {
//      transition: top .3s ease;
//      pointer-events: none;
//      .toast-message > div {
//        overflow: hidden;
//        text-indent: -9999em;
//      }
//    }
//    &:nth-child(2) {z-index: -1; bottom: 70px; transform: scale(0.99);}  // 60-10
//    &:nth-child(3) {z-index: -2; bottom: 140px; transform: scale(0.98);} // 120-20
//    &:nth-child(4) {z-index: -3; bottom: 210px; transform: scale(0.97);} // 180-30
//    &:nth-child(5) {z-index: -4; bottom: 280px; transform: scale(0.96);} // 240-40
//
//    //&:nth-child(2) {z-index: -1; top: -70px; transform: scale(0.99);}  // 60-10
//    //&:nth-child(3) {z-index: -2; top: -140px; transform: scale(0.98);} // 120-20
//    //&:nth-child(4) {z-index: -3; top: -210px; transform: scale(0.97);} // 180-30
//    //&:nth-child(5) {z-index: -4; top: -280px; transform: scale(0.96);} // 240-40
//
//    // FROM BOTTOM
//    //&:nth-child(2),
//    //  &:nth-child(3),
//    //  &:nth-child(4),
//    //  &:nth-child(5) {
//    //    transition: bottom .3s ease;
//    //    .toast-message > div {
//    //      max-height: 60px;
//    //      overflow: hidden;
//    //    }
//    //  }
//    //  &:nth-child(2) {z-index: -1; bottom: 70px; transform: scale(0.99);}  // 60-10
//    //  &:nth-child(3) {z-index: -2; bottom: 140px; transform: scale(0.98);} // 120-20
//    //  &:nth-child(4) {z-index: -3; bottom: 210px; transform: scale(0.97);} // 180-30
//    //  &:nth-child(5) {z-index: -4; bottom: 280px; transform: scale(0.96);} // 240-40
//
//      &:nth-child(n+6) {display: none;}
//
//    .toast-message {
//      display: table-cell;
//      vertical-align: middle;
//      font-size: 14px;
//      padding: 20px;
//      background-color: #fff;
//      & > div {
//        transition: max-height .3s ease-in-out;
//        max-height: 300px;
//      }
//    }
//
//    .toast-close-button {
//      color: @grayFontGeneral;
//      position: absolute;
//      right: 12px;
//      top: 0;
//      font-size: 22px;
//      font-weight: normal;
//
//      &:hover {
//        color: inherit;
//      }
//    }
//
//    .toast-title {
//      display: table-cell;
//      background-color: @grayBorderLight;
//      width: 80px;
//      text-align: center;
//      vertical-align: middle;
//      padding: 0 25px;
//
//      &::before {
//        font-family: "artifactory" !important;
//        font-size: 30px;
//        font-weight: normal;
//      }
//    }
//
//    &.toast-success {
//      &, & a {
//        color: @greenFontHeader;
//      }
//
//      .toast-title::before {
//        content: ",";
//      }
//    }
//    &.toast-error {
//      //      animation: toaster-in 0.5s ease; //, toaster-out 0.5s ease;
//
//      &, & a {
//        color: @redError;
//      }
//
//      .toast-title::before {
//        content: "-";
//      }
//    }
//    &.toast-warning {
//      &, & a {
//        color: @yellowWarning;
//      }
//
//      .toast-title::before {
//        content: "{";
//      }
//    }
//    &.toast-info {
//      &, & a {
//        color: @blueMain;
//      }
//
//      .toast-title::before {
//        content: "\e002";
//      }
//    }
//
//    a {
//      text-decoration: underline;
//
//      &:hover {
//        text-decoration: none;
//      }
//    }
//
//    &:hover {
//      box-shadow: 0 0 12px #999999;
//    }
//  }
//}