<!-- When there are no results, we push an element with _emptyRow propery -->

<div grid="grid" class="ui-grid-draggable-row" draggable="true">
    <div ng-if="row.entity._emptyRow">
        <div
                ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name"
                class="ui-grid-cell grid-cell-empty"
                ui-grid-cell>
        </div>
    </div>
    <!-- When there are results -->
    <div ng-if="!row.entity._emptyRow">
        <div class="grid-action-bar"
             ng-if="!row.groupHeader">
            <a ng-repeat="button in grid.appScope.grids[grid.id].buttons"
               ng-if="!button.visibleWhen || button.visibleWhen(row.entity)"
               class="btn btn-action"
               ng-click="button.callback(row.entity, row)"
               jf-tooltip="{{button.tooltip}}">
                <i class="icon-2x {{button.icon}}"></i>
            </a>
        </div>

        <div
                ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name"
                class="ui-grid-cell"
                ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader,'expandedRow':row.expandedState.state==='expanded',
                        'grouped-column': (col.grouping.groupPriority >= 0 && (row.groupLevel === null || row.groupLevel === undefined) ) }"
                ui-grid-cell>
            <div class="grid-action-bar"
                 ng-if="!row.groupHeader">
                <a ng-repeat="action in col.colDef.customActions"
                   ng-if="!action.visibleWhen || action.visibleWhen(row.entity)"
                   class="btn btn-action"
                   ng-click="action.callback(row.entity, row)"
                   jf-tooltip="{{action.tooltip}}">
                    <i class="{{action.icon}}"></i>
                </a>
            </div>
        </div>
    </div>
</div>