<div :class="{ 'sortable': sortable, 'sorting-active': col.sort.direction }">
    <!-- <div class="ui-grid-vertical-bar">&nbsp;</div> -->
    <div class="ui-grid-cell-contents" col-index="renderIndex">
        <!--<span>{{ col.displayName CUSTOM_FILTERS }}</span>-->
        <span>{{ col.displayName}}</span>
        <div class="group-button icon-grouping-off" v-jf-tooltip="'Group By'" @click="grid.api.grouping.clearGrouping(); grid.api.grouping.groupColumn(col.displayName)" v-if="!grid.options.subRowsEnabled && grid.api.grid.rows.length > 0 && grid.api.grid.rows[0].entity._emptyRow === undefined &&
             (!grid.api.grouping.getGrouping().grouping.length || grid.api.grouping.getGrouping().grouping[0].colName != col.displayName)"></div>
        <div class="group-button icon-grouping-on" v-jf-tooltip="'Ungroup'" @click="grid.api.grouping.clearGrouping()" v-if="!grid.options.subRowsEnabled && grid.api.grid.rows.length>0 && grid.api.grid.rows[0].entity._emptyRow === undefined && grid.api.grouping.getGrouping().grouping.length
             && grid.api.grouping.getGrouping().grouping[0].colName==col.displayName"></div>
        <span ui-grid-visible="col.sort.direction" :class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }">
          &nbsp;
        </span>
    </div>

    <!--<div class="ui-grid-column-menu-button" ng-if="grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false" ng-click="toggleMenu($event)" ng-class="{'ui-grid-column-menu-button-last-col': isLastCol}">-->
    <!--<i class="ui-grid-icon-angle-down">&nbsp;</i>-->
    <!--</div>-->

    <div ui-grid-filter=""></div>
</div>