<div class="jf-tree"
     ng-class="jfTree.viewPaneName + '-pane'"
     tabindex="0"
     style="clear: both">
    <div class="jf-tree-container"
         ng-style="{height: jfTree.getPageHeight() + 'px', overflow: jfTree.isEmpty() || !jfTree.api.dataGettersSet ? 'visible' : 'hidden'}"
         ng-if="jfTree.viewPane">
        <div class="tree-items-container"
             ng-style="{transform: 'translate(0, ' + (-jfTree.getTranslate()) + 'px)'}">
            <div class="scroll-faker-container"
                 ng-style="{transform: 'translate(0, ' + (jfTree.getTranslate()) + 'px)', right: 0, height: jfTree.getPageHeight() + 'px'}">
                <div class="scroll-faker"
                     ng-init="jfTree.initScrollFaker()"
                     ng-style="{height: (jfTree.getTotalScrollHeight() > jfTree.maxFakeScrollHeight ? jfTree.maxFakeScrollHeight : jfTree.getTotalScrollHeight()) + 'px'}">
                </div>
            </div>
            <div class="h-scroll-wrapper"
                 ng-init="jfTree.initHScroll()"
                 ng-style="{height: (jfTree.getPageHeight() + jfTree.getTranslate()) + 'px'}"
                 msd-wheel="jfTree.onMouseWheel($event, $delta, $deltaX, $deltaY)">
                <jf-tree-item ng-repeat="item in jfTree.viewPane._getPageData() track by $index"
                              tree="jfTree"
                              item-id="$index"
                              data="item"></jf-tree-item>
            </div>
        </div>

        <div class="missing-data-setters"
             ng-if="!jfTree.api.dataGettersSet">
            {{'jf-tree: Data getters was not set (call setDataGetters())'}}
        </div>
        <div class="empty-tree-placeholder"
             ng-if="jfTree.isEmpty()">
            {{jfTree.api.emptyTreeText || 'This tree is empty !'}}
        </div>
        <div class="empty-tree-placeholder filter-no-results"
             ng-if="jfTree.noFilterResults">
            Current filter has no results. <a href ng-click="jfTree.clearFilter()">Clear filter</a>
        </div>
    </div>
</div>