<div class="jf-tree-item"
     ng-class="[jfTreeItem.isQuickFindMatch() ? 'quick-find-match' : ''].concat(jfTreeItem.getCustomClasses())"
     ng-click="jfTreeItem.onItemClick($event)"
     ng-dblclick="jfTreeItem.onItemDoubleClick()"
     ng-style="{height: jfTreeItem.tree.viewPane.itemHeight, 'line-height': jfTreeItem.tree.viewPane.itemHeight, width: jfTreeItem.tree.itemsWidth + 'px'}">

    <div class="jf-tree-item-container"
         style="white-space: nowrap"
         ng-style="{height: jfTreeItem.tree.viewPane.itemHeight, 'line-height': jfTreeItem.tree.viewPane.itemHeight}">
        <jf-tree-indentation visible="jfTreeItem.tree.api.linesVisible"
                             height="jfTreeItem.tree.viewPane.itemHeight"
                             lines-backgrounds="jfTreeItem.tree.viewPane.linesBackgrounds"
                             indentation="jfTreeItem.getIndentation()"></jf-tree-indentation>
        <div class="no-children-line-extension"
             ng-if="jfTreeItem.data.level >= 1 && jfTreeItem.tree.api.linesVisible && !jfTreeItem.shouldShowExpander() && !jfTreeItem.data.$pending"
             ng-style="{height: jfTreeItem.tree.viewPane.itemHeight, 'background-image': 'url(\'' + jfTreeItem.tree.viewPane.linesBackgrounds['horizontal-line'] + '\')'}">
        </div>
        <span class="drill-back" ng-if="jfTreeItem.data.data === jfTreeItem.tree.api.GO_UP_NODE">&nbsp;&nbsp;..</span>
        <div class="node-expander" ng-if="jfTreeItem.data.data !== jfTreeItem.tree.api.GO_UP_NODE">
            <div class="action-icon icon icon-more" ng-if="jfTreeItem.shouldShowExpander()"
                 ng-click="jfTreeItem.toggleExpansion(); $event.stopPropagation();"
                 ng-class="{'expanded': jfTreeItem.isExpanded()}"></div>
            <div class="spinner-msg-local" ng-if="jfTreeItem.data.$pending">
                <div class="icon-hourglass-local"></div>
            </div>
        </div>
        <div class="jf-tree-item-content" ng-if="jfTreeItem.data.data !== jfTreeItem.tree.api.GO_UP_NODE">
            <jf-tree-compiled-cell item-id="jfTreeItem.itemId"
                                   tree-item="jfTreeItem">
            </jf-tree-compiled-cell>
        </div>
    </div>
</div>