.jf-tree {
  width: 100%;
  outline: none;
  position: relative;
  .jf-tree-container {
    width: 100%;
    overflow: visible;
    .tree-items-container {
      position: relative;
      .scroll-faker-container {
        position: absolute;
        width: 30px;
//        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        z-index: 1;
        .scroll-faker {
        }
      }
      .h-scroll-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        .h-scroll-content {
          display: inline-block;
          min-width: 100%;

          .jf-tree-item {
            cursor: pointer;
            position: relative;
            .user-select(none);

            &:before {
              content: '';
              height: inherit;
              width: 100%;
              left: 0;
              right: 0;
              opacity: .1;
              position: absolute;
            }

            &.quick-find-match {
              .node-text {
                font-weight: 900;
              }
            }
            &:hover {
              .jf-tree-item-content {
                color: @blackBGLight;
              }
            }
            &.selected {
              &:before {
                background: #2291B2;
                //              background-color: #e9f4f7;
              }
              .jf-tree-item-content {
                color: @blackBGLight;
              }
            }
            &.pre-selected:not(.selected) {
              &:before {
                background: #919191;
                //              background-color: #f4f4f4;
              }
            }
            //        border: 1px red solid;
            .jf-tree-item-container {
              display: flex;
              flex-direction: row;
              white-space: nowrap;
              jf-tree-indentation {
                .indentation-wrap {
                  display: inline-block;
                  .indentation-flex-wrap {
                    position: absolute;
                    top:0;
                    left:0;
                    bottom: 0;
                    display: flex;
                    flex-direction: row;
                    .indentation-unit {
                      width: 26px;
                      background-size: 100% 100%;
                      opacity: .3;
                    }
                  }
                }
              }
              .no-children-line-extension {
                //              position: absolute;
                opacity: .3;
                min-width: 15px;
                display: inline-block;
                margin-right: 11px;
              }

              .node-expander {
                min-width: 26px;
                position: relative;
                display: inline-block;
                cursor: pointer;
                color: #aaaaaa;
                &:hover {
                  color: @greenBGDark;
                }
                .icon-addons-arrow-right {
                  transform: rotate(0deg) translate(8px, 0px) scale(.8,.8);
                  display: inline-block;
                }
                &.expanded {
                  .icon-addons-arrow-right {
                    transform: rotate(90deg) translate(0px, -9px) scale(.8,.8);
                  }
                }
                .spinner-msg-local {
                  position: absolute;
                  top: ~"calc(50% - 10px)";
                  left: ~"calc(50% - 10px)";
                }
              }
              .jf-tree-item-content {
                display: inline-block;
                margin-left: 2px;
                padding-right: 30px;
                .highlight {
                  color: #222;
                  background-color: yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}