<div class="jf-tree-item"
     ng-class="[jfTreeItem.tree.api._isSelected(jfTreeItem.data) ? 'selected' : '', jfTreeItem.isQuickFindMatch() ? 'quick-find-match' : ''].concat(jfTreeItem.getCustomClasses())"
     ng-click="jfTreeItem.onItemClick()"
     ng-dblclick="jfTreeItem.onItemDoubleClick()"
     ng-style="{height: jfTreeItem.tree.viewPane.itemHeight, 'line-height': jfTreeItem.tree.viewPane.itemHeight}">

    <div class="jf-tree-item-container"
         style="white-space: nowrap"
         ng-style="{height: jfTreeItem.tree.viewPane.itemHeight, 'line-height': jfTreeItem.tree.viewPane.itemHeight}">
        <div class="indentation-unit"
             ng-style="{width: (jfTreeItem.data.level * 26) + 'px'}"></div>
        <span class="drill-back" ng-if="jfTreeItem.data.data === jfTreeItem.tree.api.GO_UP_NODE">&nbsp;&nbsp;..</span>
        <div class="node-expander" ng-if="jfTreeItem.data.data !== jfTreeItem.tree.api.GO_UP_NODE">
            <div class="action-icon icon icon-more" ng-if="jfTreeItem.data.hasChildren && !jfTreeItem.data.data.$noChildren && !jfTreeItem.data.$pending"
                 ng-click="jfTreeItem.toggleExpansion(); $event.stopPropagation();"
                 ng-class="{'expanded': jfTreeItem.isExpanded()}"></div>
            <div class="spinner-msg-local" ng-if="jfTreeItem.data.$pending">
                <div class="icon-hourglass-local"></div>
            </div>
        </div>
        <div class="jf-tree-item-content" ng-if="jfTreeItem.data.data !== jfTreeItem.tree.api.GO_UP_NODE">
            <jf-tree-compiled-cell item-id="jfTreeItem.itemId"
                                   tree-item="jfTreeItem">
            </jf-tree-compiled-cell>
        </div>
    </div>
</div>