.grid-pagination {
  margin: 23px 10px 0 10px;
  padding-bottom: 5px;
  color: @grayFontGeneral;

  p {
    margin-bottom: 0;
  }

  a {
    color: @grayFontGeneral;
    text-decoration: none;
    font-size: 24px;
    font-weight: 100;
    line-height: 18px;
    vertical-align: top;

    &.disabled {
      color: @grayBorderDark;
    }
  }

  .grid-page-box {
    border: 1px solid @grayBorderDark;
    background-color: @grayBGLight;
    padding: 0 5px;
    margin: 2px 0 0 0;
    width: 28px;
    height: 20px;
    font-size: 13px;
    outline: none;
    text-align: center;
  }
}