@import "../../../node_modules/bootstrap/less/variables";

.license-required-icon {}

@import "variables";
@import "fonts";
@import "repos";
@import "mixins";
@import "common";
@import "page-template";

@import "general/input-text";
@import "general/buttons";
@import "general/dropdowns";
@import "general/modals";
@import "general/tooltipster";
@import "general/toaster";
@import "general/onboarding_wizard";
@import "../../directives/jf_datetimepicker/jf_datetimepicker";
@import "new-design-for-old-grids";

// Fix ui-grid font problem
@font-face{
  font-family:'ui-grid';
  src:url('fonts/ui-grid.eot');
  src:url('fonts/ui-grid.eot#iefix')
  format('embedded-opentype'),
  url('fonts/ui-grid.woff')
  format('woff'),
  url('fonts/ui-grid.ttf?')
  format('truetype'),
  url('fonts/ui-grid.svg?#ui-grid')
  format('svg');
  font-weight:normal;
  font-style:normal
}

body, html {
  font: 14px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: @black;
}

html {
  -webkit-font-smoothing: antialiased;
}

// injector
// endinjector