.ui-grid-icon-plus-squared:before {
  content: '\c350'
}
.ui-grid-icon-minus-squared:before {
  content: '\c351'
}
.ui-grid-icon-search:before {
  content: '\c352'
}
.ui-grid-icon-cancel:before {
  content: '\c353'
}
.ui-grid-icon-info-circled:before {
  content: '\c354'
}
.ui-grid-icon-lock:before {
  content: '\c355'
}
.ui-grid-icon-lock-open:before {
  content: '\c356'
}
.ui-grid-icon-pencil:before {
  content: '\c357'
}
.ui-grid-icon-down-dir:before {
  content: '\c358'
}
.ui-grid-icon-up-dir:before {
  content: '\c359'
}
.ui-grid-icon-left-dir:before {
  content: '\c35a'
}
.ui-grid-icon-right-dir:before {
  content: '\c35b'
}
.ui-grid-icon-left-open:before {
  content: '\c35c'
}
.ui-grid-icon-right-open:before {
  content: '\c35d'
}
.ui-grid-icon-angle-down:before {
  content: '\c35e'
}
.ui-grid-icon-filter:before {
  content: '\c35f'
}
.ui-grid-icon-sort-alt-up:before {
  content: '\c360'
}
.ui-grid-icon-sort-alt-down:before {
  content: '\c361'
}
.ui-grid-icon-ok:before {
  content: '\c362'
}
.ui-grid-icon-menu:before {
  content: '\c363'
}
.ui-grid-icon-indent-left:before {
  content: '\e800'
}
.ui-grid-icon-indent-right:before {
  content: '\e801'
}
.ui-grid-icon-spin5:before {
  content: '\ea61'
}