<div class="jf-list-maker" jf-disable-ng-animate>
    <div class="list-new-value" ng-class="{dropdown: jfListMaker.predefinedValues}">
        <form>
            <jf-field validations="common" dont-push-down-errors="true" delayed-init="true">
                <label>{{jfListMaker.label}}</label>
                <jf-help-tooltip
                        ng-if="jfListMaker.helpTooltip"
                        html="jfListMaker.helpTooltip"></jf-help-tooltip>
                <input  ng-if="!jfListMaker.predefinedValues"
                        type="{{jfListMaker.inputType || 'text'}}"
                        class="input-text"
                        ng-model="jfListMaker.newValue"
                        placeholder="{{jfListMaker.placeholder || 'New ' + (jfListMaker.objectName || 'Value')}}"
                        id="newValueField"
                        name="newValueField"
                        jf-enter-press="jfListMaker.addValue()"
                        ng-disabled="jfListMaker.ngDisabled">
                <jf-ui-select ng-if="jfListMaker.predefinedValues"
                              jf-select-model="jfListMaker.newValue"
                              jf-select-placeholder="{{jfListMaker.placeholder || 'New ' + (jfListMaker.objectName || 'Value')}}"
                              jf-select-disabled="jfListMaker.ngDisabled"
                              jf-select-options="jfListMaker.predefinedValues"></jf-ui-select>

            </jf-field>
        </form>
        <div class="list-new-value-button">
            <i class="icon icon-new"
               ng-click="!(jfListMaker.ngDisabled || !jfListMaker.newValue.length) && jfListMaker.addValue()"
               ng-disabled="jfListMaker.ngDisabled || !jfListMaker.newValue.length"></i>
        </div>
    </div>
    <div class="jf-validation">{{jfListMaker.errorMessage}}</div>

    <div id="{{jfListMaker.listId}}" class="list-maker-list" ng-if="jfListMaker.values.length">
        <div class="list-maker-list-row" ng-repeat="value in jfListMaker.values track by $index">
            <div>{{value}}</div>
            <div class="list-maker-list-buttons">
                <a href="" class="icon icon-clear"
                   ng-click="jfListMaker.removeValue($index)"
                   ng-if="jfListMaker.values.length > jfListMaker.minLength"
                   ng-disabled="jfListMaker.ngDisabled"></a>
            </div>
        </div>
    </div>
</div>