.jf-list-maker {

  div.jf-validation {
    height: 22px;
    line-height: 22px;
    padding-left: 3px;
  }

  .icon {
    line-height: 42px;
    font-size: 26px;
    color: #999;

    &[disabled] {
      color: #ddd;
      cursor: default;
    }
    &:not([disabled]):hover {
      color: @greenFontHeader;
      cursor: pointer;
    }
  }


  .list-new-value {
    width: 100% !important;
    margin-right: 10px;
    position: relative;

    &.dropdown {
      .ui-select-container {
        .caret {
          margin-right: 30px;
        }
      }
    }


    .jf-field {
      position: relative;
    }
    .list-new-value-button {
      margin-top: 0;
      position: absolute;
      right: 15px;
      bottom: -3px;

      i {
        font-size: 16px;
      }
    }
    .card .row & , .modal-body & {
      @media screen and (min-width: 1900px) {
        //width: 315px !important;
      }

      @media screen and (min-width: 1680px) and (max-width: 1900px) {
        //width: 235px !important;
      }
    }
  }

  .list-maker-list {
    border: 1px solid #e4e4e4;
    box-sizing: content-box;
    max-height: 200px;
    overflow: auto;

    .list-maker-list-row {
      position: relative;
      display: table;
      width: 100%;
      height: 40px;
      line-height: 40px;

      &:nth-child(even) {
        background-color: @white;
      }
      &:nth-child(odd) {
        background-color: @grayGridRow;
      }

      div {
        display: table-cell;

        &:first-child {
          padding-left: 10px;
          width: 340px;
        }

        &.list-maker-row-value {

        }

        &.list-maker-list-buttons {
          text-align: right;
          height: 40px;
          padding-right: 24px;
          position: absolute;
          right: 0;
          top: -2px;

          a {
            color: @grayFontLighter;
            font-size: 16px;
            position: relative;
            top: 2px;
            &:hover {
              color: @greenFontHeader;
            }
            &:hover, &:focus, &:active {
              text-decoration: none;
            }
            &[disabled]:hover {
              color: @grayFontLighter;
              cursor: default;
            }
            &.icon-clear:hover {
              color: @redError;
            }
          }
        }
      }
    }
  }
}

